@font-face{
	font-family: Montserrat-SemiBold-RR;
	src: url(../fonts/montserrat.bold.ttf);
}
@font-face{
	font-family: Montserrat-SemiBold-XP;
	src: url(../fonts/Montserrat-SemiBold-test.otf);
}
@font-face{
	font-family: Montserrat-SemiBold-MULTIPLER;
	src: url(../fonts/MONTSERRAT-SEMIBOLD-chat.OTF);
}
@font-face{
	font-family: Montserrat-Light;
	src: url(../fonts/Montserrat-Thin.ttf);
}
@font-face{
	font-family: Montserrat-Countup;
	src: url(../fonts/Montserrat-SemiBold.otf);
}
.case1.new,
.case2,
.right_mul.new,
.right_mul1.new,
.left_mul.new,
.left_mul1.new,
.center_mul.new{
	font-family: 'Montserrat-SemiBold-MULTIPLER' !important;
}
.tooltip{
	font-family: 'Montserrat-SemiBold-RR';
}
.validator{
	position:absolute;
	transform: translate(-50% , 0);
	left:45%;
	top:100px;
	font-size:12px;
	color:black;
	border-radius:5px;
	border:2px solid #F8BF60;
	padding:10px;
	background-color:white;
	display:none;
	opacity:0;
	width:80%;
	z-index:10000;
}
body {
	background-color: #191E24;
	color: white;
	font-family: 'Montserrat-SemiBold-RR';
	font-weight: bold;
}
.container-fluid{
	padding: 0 6px 6px 6px;
}
a{
	color: black;
	cursor: pointer;
}
#flowarea{
	height: 100vh;
}
.color-active {
	color: white;
}

.color-inactive {
	color: #747883;
}

.color-orange {
	color: #F8BF60;
}
.color-help-menu{
	color: #9f9b94
}
.color-red {
	color: red;
}

.color-red-orange {
	color: #CD5334;
}

.color-pad {
	color: #282A30;
}

.color-dark-blue {
	color: #2989AD;
}

.color-dark-pink {
	color: #AF60F8;
}

.color-yellow {
	color: #FFFC12;
}

.color-green {
	color: #29BD69;
}

.color-gray-1 {
	color: #1C2127;
}

.color-gray-2 {
	color: #20252B;
}

.color-gray-3 {
	color: #2D3236;
}

.color-gray-4 {
	color: #282A30;
}

.color-black {
	color: black;
}

.font-caps {
	text-transform: uppercase;
}

.chat-1 {
	padding-right: 0.5rem;
	padding-left: 0.8rem;
}
.chat-1 span:first-child{
	padding-left: 0.9rem;
}

.chat-1 > span {
    text-indent:-1em;
}

.chat-2 {
	border-left: 5px solid #F8BF60;
	padding: 0.5rem;
	background-color: #2D3236;
}
/*#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background-color: rgba(0, 0, 0, 0.9);
	background-image: url('../images/loading.svg');
	background-position: 50% 40%;
	background-repeat: no-repeat;
	display: none;
}
#preloader span{
	font-size: 32px; 
	font-weight: 500; 
	color: blue; 
	margin: auto; 
	text-align: center;
}*/
body {
	overflow: hidden;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar{
	display:none;
}

.nav-link {
	padding: 1px;
}

.nav-tabs .nav-link {
	border: none;
	cursor: pointer;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background-color: transparent;
	border-color: transparent;
	color: #F8BF60;
}

.nav-tabs .nav-link.active .color-active {
	color: white;
}

.nav-tabs {
	border-bottom: none;
}

.navbar-nav {
	flex-direction: row;
}

.dropdown-toggle::after {
    display:none;
}

.chatbox {
	background-color: #20252B;
	height: 500px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow-x: hidden;
}

.scrollable {
	overflow-y: scroll;
	scrollbar-color:#232a30 #20252B;
	scrollbar-width:thin;
	-ms-overflow-style: none;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #232a30;
}
::-moz-scrollbar-thumb {
	background: #232a30;
}
#accountmodal ::-webkit-scrollbar-thumb {
	background: #cfc8c8;
}
#accountmodal ::-moz-scrollbar-thumb {
	background: #cfc8c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #A58248;
}

.flexible {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

textarea:focus, input:focus{
	outline: none;
}

#chatsubmit {
	background-color: #F8BF60;
	border-radius: 7px;
	color: black;
	font-weight: bold;
	-moz-box-shadow: 0px 4px 0px 0px #9F804A;
	-webkit-box-shadow: 0px 4px 0px 0px #9F804A;
	box-shadow: 0px 4px 0px 0px #9F804A;
	text-decoration: none;
}

#expcur {
	position: absolute;
	left: 8px;
	top: 4px;
	width: fit-content !important;
}
#expcur span,
#exptot span,
#expnxt span{
	font-family: 'Montserrat-SemiBold-XP' !important;
}

#exptot {
	position: absolute;
	left: 50%;
	top: 4px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: fit-content !important;
}

#expnxt {
	position: absolute;
	right: 8px;
	top: 4px;
	width: fit-content !important;
}

.modal {
	color: #F8BF60;
}

.modal-content {
	background-color: #191E24;
	padding: 10px;
	height: 100%;
}
#helpmodal .modal-content{
	padding : 0.5vw;
	border: 2px solid;
}

.modal-header {
	background-color: #282A30;
	border-bottom: none;
}

.modal-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 1.4vw;
}

.modal-body {
	margin-right: -5px;
}

.modal-footer {
	border-top: none;
}

.modal-text {
	margin-bottom: 0.4vw;
}
.modal-text p{
	background-color: #282A30;
	color: #A3A09B;
	padding: 10px;
	font-size: 0.7vw;
}
.dropdown-menu {
	background-color: #20252b;
	color: white;
	transform: translate3d(-195px, -425px, 0px) !important;
	border:1px solid #F8BF60;
}

.dropdown-menu > li > a {
    -webkit-transform: translateX(100%);
}

li.brags {
	padding: 5px 10px;
	transition: background-color 0.5s ease;
}

li.brags:hover {
	background-color: rgba(255, 255, 255, 0.10);
}
.chat-header-part{
	text-align:center;
	width:100%;
	height: 2.7vw;
	background: #1c2127;
}
.personal-level-part{
	background-color:#20252b;
	text-align: center;
	height: 9.4vw;
	padding: 1.5% 0 7.7%;
}
.level-icon{
	 width:69%;
	 position: absolute;
	 top: 15%;
	 left: 16%;
}
.level-icon-part{
	margin: 0 auto;
	width: 65%;
	height: 100%;
}
.level-icon-square{
	position: relative;
	width: 100%;
	padding-top: calc(100% - 20px);
	border-radius: 50%;
}
.level-mark-part{
	margin: auto;
	margin-top: -19px;
	text-align: center;
}
.level-mark-part span{
	font-weight: bold;
	background: #191e24;
    position: relative;
    padding: 2px 10px;
    font-size: 1vw;
}
.left-chat{
	background-color: #1C2127;
	height: 2vw;
	min-height: 32px;
}
.nav.nav-tabs li.nav-item{
	margin: auto;
	width: 11%;
}
.nav.nav-tabs li.nav-item.nav-item-text{
	margin: auto;
	width:34%;
}
.reward-section{
	width:calc(50% - 0.25rem);
	position: relative;
	text-align: center;
	background-color: #282A30;
	font-weight: bold;
}
.reward-compain-section1{
	width:calc(66% - 0.25rem);
	position: relative;
	text-align: center;
	background-color: #282A30;
	height: 100%;
	float:left;
}
.reward-compain-section2{
	width:calc(34% - 0.25rem);
	position: relative;
	text-align: center;
	background-color: #282A30;
	height: 100%;
	float:left;
}
.reward-campaign-input{
	background:transparent;
	border:1px solid #f8bf60;
	width:40%;
	color:white;
	font-size:13px;
	padding-left: 5px;
	margin-bottom: 10px;
}
.reward-campaign-input-r{
	margin-left: 16px;
}
.reward-section-level{
	width:100%;
}
.reward-section-level-section{
	width: calc(calc(100% - 2.5rem)/6);
	position: relative;
	float:left;
	background: #282A30;
}
.reward-section-level-section span{
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
.reward-earning-part{
	width:calc(calc(100% - 1rem)/3);
	position: relative;
	float:left;
	background: #282A30;
	height: 52px;
	padding-top: 4px;
}
.account-header1{
	width:20%;
	background-color: #282A30;
	text-align: center;
	position: relative;
	height: 64px;
	line-height: 64px;
}
.account-header2{
	width:calc(80% - 5px);
	background-color: #282A30;
	text-align: center;
	position: relative;
	height: 64px;
	margin-right: 0;
	vertical-align: middle;
	line-height: 64px;
	margin-left: 5px;
	font-size: 30px;
}
.account-info{
	width:100%;
	background-color: #282A30;
	text-align: center;
}
.account-title{
	font-size:20px;
}
.account_history_header{
	width:50%;
	float:left;
}
.account_history_header_text{
	font-weight:bold;
	font-size:20px;
	color: #cfc8c8;
}
#accountmodal .color-inactive{
	color: #cfc8c8;
}
.account_history_header_title{
	width: calc(calc(100% - 2.5rem)/6);
	float:left;
	color:#cfc8c8;
	text-align: center;
	background: #282A30;
	font-weight: bold;
	font-size: 18px;
}
.account_bet_history,
.ignored_user_list{
	width:100%;
	display: flex;
}
.ignored_user_list{
	font-size: 20px;
	padding-right: 5px;
}
.account_bet_history label{
	width:16.6%;
	float:left;
	background: #282A30;
	padding-top: 10px;
	height: 40px;
	font-size: 15px;
}
.ignored_user_list label{
	width:50%;
	float:left;
	background: #282A30;
	padding-top: 5px;
	height: 40px;
}
.account_setting_part_1{
	width:100%;
	text-align: center;
	display: inline-block;
	height: 30px;
}
.account_setting_part_1 label{
	float:left;
	font-weight: 400;
	color:white;
	font-size: 20px;
	margin-bottom: 0;
}
.account_setting_part_1 input{
	float: left;
	margin-top: 9px;
	margin-left: 19%;
}
.play_btn{
	background-color: #F8BF60;
	width: 50%; 
	height: 3vw; 
	line-height: 2.9vw;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center; 
	-moz-box-shadow: 0px 0.2vw 0px 0px #9F804A; 
	-webkit-box-shadow: 0px 0.2vw 0px 0px #9F804A; 
	box-shadow: 0px 0.2vw 0px 0px #9F804A;
	cursor: pointer;
	font-size:2vw;
}
.max_bet_btn{
	background-color: #F8BF60;
	width: 24%; 
	height: 3vw; 
	text-align: center; 
	-moz-box-shadow: 0px 0.2vw 0px 0px #9F804A; 
	-webkit-box-shadow: 0px 0.2vw 0px 0px #9F804A; 
	box-shadow: 0px 0.2vw 0px 0px #9F804A;
	cursor: pointer;
	line-height: 3vw;
	font-size: 1.05vw;
}
.max_bet_btn span,.play_btn span,.spin_btn span{
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}
.spin_btn{
	background-color: #F8BF60;
	width: 24%; 
	height: 3vw; 
	line-height: 3vw;
	text-align: center; 
	-moz-box-shadow: 0px 0.2vw 0px 0px #9F804A; 
	-webkit-box-shadow: 0px 0.2vw 0px 0px #9F804A; 
	box-shadow: 0px 0.2vw 0px 0px #9F804A;
	cursor: pointer;
}
.auth_reg_btn{
	background-color: #F8BF60;
    text-align: center;
    box-shadow: 0px 5px 0px 0px #9F804A;-webkit-box-shadow: 0px 5px 0px 0px #9F804A;-moz-box-shadow: 0px 5px 0px 0px #9F804A;
    cursor: pointer;
    padding: 2px 24px;
    border-radius: 10px;
    margin-left: 15px;
    font-size: 24px;
}
.autoplay_stop_btn{
	background-color: #F8BF60;
	width: 24%; 
	height: 94%; 
	text-align: center; 
	-moz-box-shadow: 0px 0.2vw 0px 0px #9F804A; 
	-webkit-box-shadow: 0px 0.2vw 0px 0px #9F804A; 
	box-shadow: 0px 0.2vw 0px 0px #9F804A;
	display: none;
	cursor: pointer;
}
.background_transparent{
	background-color: transparent;
}
.login_modal_body{
	width: 630px;
	border:3px solid #f8bf60;
	background-color: #191e24; 
	position: relative;
}
.login_desc{
	width: 630px;
}
.login_modal_logo{
	margin-top: 30px;
	margin-bottom: 5px;
}
.login_modal_logo img,
.signup1_modal_logo img{
	height: 94px;
}
.text_orange_a{
	text-decoration: none; 
	color: #F8BF60;
}
.a_black{
	text-decoration: none; 
	color: black !important;
}
.login_modal_footer{
	width: 100%; 
	color: white; 
	font-weight: bold;
	font-size: 20px;
	margin-top: 23px;
	margin-bottom: 10px;
}
.orange_btn{
	font-weight: bold; 
	text-decoration: none; 
	background-color: #F8BF60; 
	color: black !important;
	border-radius: 12px; 
	-moz-box-shadow: 0px 5px 0px 0px #9F804A; -webkit-box-shadow: 0px 5px 0px 0px #9F804A; box-shadow: 0px 5px 0px 0px #9F804A;
}
.adv_login_btn{
	padding: 0.5vw 1.3vw; 
	font-size: 1.16vw;
	width: 90%;
	display: block;
	margin: auto;
	text-align: center;
}
.logout{
	vertical-align: middle;
	text-decoration: none; 
	font-weight: bold;
	cursor: pointer;
}
.logout:hover{
	text-decoration: none;
}
.account_modal_userid{
	position: absolute;
	font-size:11px;
	right: 3px;
	top: 2px;
}
#accountmodal .welcome{
	font-size:24px;
	margin-bottom: 0;
}
.curwager_desktop{
	font-size: 1.8vw; 
	font-weight: bold; 
	margin-top: 0px;
}
.footer_center{
	position: relative; 
	width: 33.33%; 
	height: inherit; 
	border-right: 5px solid #F8BF60; 
	padding: 1% 0 1% 1.6%;
}
.footer_center .title{
	font-size: 1.1vw; 
	font-weight: bold;
	line-height: 1;
}
.layout_2 .footer-3 .title{
	font-size:1.1vw;
	font-weight: bold;
}
i.cost{
	font-size:1.6vw !important;
}
.footer_center .cost,
.layout_2 .footer-3 .cost{
	font-size: 1.8vw; 
	font-weight: bold; 
	margin-top: 0px;
}

.footerbody{
	position: relative; 
	width: 30%; 
	height: inherit;
}
.wager_set{
	float:right;
	width:2vw;
	height:4vw;
	margin-right: -1.2vw;
	border-left:1px solid #131516;
	margin-top: -4%;
}
.wager_down,
.wager_up{
	width:2vw;
	height: 50%;
	text-align: center;
	font-size: 1vw;
	padding-top: 17%;
	
}
.wager_up{
	border-bottom: 1px solid #131516;
}
.wager_down button,
.wager_up button{
	background: none;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
}
#bodypart3 .player_list{
	height: 100%; 
	background-color: #282A30; 
	padding-top: 10px; 
	padding-bottom: 10px;
}
#bodypart3 .player_list_left{
	position: relative; 
	width: 43%; 
	padding-left: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#bodypart3 .player_list_center{
	position: relative; 
	width: 26%;
}
#bodypart3 .player_list_right{
	position: relative; 
	width: 30%;
}
.count_time,
.bonus_spin_result{
	font-size:40px;
	width: 100%;
	height: 100%;
	line-height: 100%;
	text-align: center;
	display: none;
	z-index: 11;
	position: relative;
}
.count_time span.each_result{
	font-size:100px;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold; 
	text-shadow: 0px 1px #a48050,0px 2px #a48050,0px 3px #a48050,0px 4px #a48050,0px 5px #a48050;
}
.bonus_spin_result .bonus_win{
	font-size:80px;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold; 
	text-shadow: 0px 1px #000,0px 2px #000,0px 3px #000,0px 4px #000,0px 5px #000,0px 6px #000,0px 7px #000,0px 8px #000;
}
.win_multipler{
	font-weight: bold; 
	line-height: 0.9;
}
.win_multipler span{
	font-size: 1.9vw;
}
.bonus_win .win_multipler span{
	line-height: 1;
}
.normal_round .win_multipler{
	line-height: 1;
}
.round_result{
	width: 100%; 
	height: 2.8vw;
	background-color: #282A30; 
	margin-top: 5px; 
	display: flex;
	justify-content: center;
}
.round_result img{
	width:1.4vw;
	height: 1.5vw;
	opacity: 0.1;
	position: absolute;
	margin-top: 0.7vw;
}
#revolver{
	width: 100%; 
	background-color: #282A30; 
	background-position: center center; 
	background-repeat: no-repeat; 
	background-size: 70% auto; 
	text-align: center;
	position: relative;
}
.roulette{
	width: 100%;
	height: 100%;
	line-height: 100%;
	text-align: center;
	display: table;
	display: none;
}
.roulette_multi{
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
}
.roultte_wheel{
	display: table-cell;
    width: 100%;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}
.wheel-container{
    background-color: transparent;
    margin: auto;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 80%;
}
.wheel-container-multi{
    background-color: transparent;
    margin: auto;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
#pointer {
    width: 3px;
    background: white;
    position: absolute;
    left: 50%;
    top: -5px;
    height: 160px;
    z-index: 22;
}
.case{
	z-index: 1;
    position: relative;
}
.case.new{
	max-width: 100%;
    height: 109px;
    z-index: -1;
    background-image: url(../images/BonusRoll.svg);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    position: relative;
    margin: 0px auto;
    background-position: center center;
    background-size: auto 109px;
}
.case1.new,
.case2,
.case3.new,
.left_mul.new,
.right_mul.new{
	max-width: 100%;
    z-index: -1;
    background-position: 0px 0px;
    position: relative;
    margin: 0px auto;
    background-position: center center;
}
#speedregisterbutton{
	-moz-box-shadow: 0px 4px 0px 0px #9F804A;
    -webkit-box-shadow: 0px 4px 0px 0px #9F804A;
    box-shadow: 0px 4px 0px 0px #9F804A;
    text-decoration: none;
    background-color: #F8BF60;
    border-radius: 7px;
    color: black;
    font-weight: bold;
    margin-top: 1vw;
    padding: 0.6vw;
    font-size: 0.85vw;
}
.layout_2 .footer_center,
.layout_2 .footer-3{
	padding: 0.6vw 0 0.6vw 1vw;
}
.layout_2 .padding_right_30.curwager-section{
	padding-right: 1.3vw !important;
}
.padding_right_30{
	padding-right:1.3vw !important;
}
.top_player_list{
	height: 100%; 
	margin-left: 5px; 
	background-color: #282A30; 
	padding-top: 5px;
	overflow-x: hidden;
}
.top_player_rank{
	position: relative; 
	width: 7%;
}
.top_player_info{
	position: relative; 
	width: 44%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.top_player_wager{
	position: relative; 
	width: 22%;
}
.top_player_win{
	position: relative; 
	width: 27%; 
}
#bodypart1{
	width: 100%; 
	margin-top: 10px;
}
#bodypart2{
	width: 100%; 
	margin-top: 5px;
}
.bodypart-side{
	width: 20%;
	min-width: 250px;
}
.bodypart1-side{
	text-align: center; 
	background-color: #282A30; 
	height: 4vw;
	line-height: 4vw;
	padding: 0 1vw;
}
.bodypart1-2{
	width: auto; 
	margin-left: 5px; 
	background-color: #282A30; 
	background-position: center center; 
	background-repeat: no-repeat; 
	background-image: url("../images/rrgamelogo.svg");	
	height: 4vw;
	background-size: 10vw;
}
.bodypart1-3{
	margin-left: 5px;
}
.bodypart2-1{
	height: 3.1vw; 
	background-color: #282A30; 
	padding-top: 0.5vw;
}
.bodypart2-3{
	height: 3.1vw;
	margin-left: 5px; 
	background-color: #282A30; 
}
.bodypart2-3-child{
	position: relative;
	text-align: center;
	font-size:1vw;
	height: 3.1vw;
    line-height: 3.1vw;
}
.bodypart2-3-child-1{
	width: 51%; 
}
.bodypart2-3-child-2{
	width: 23%; 
}
.bodypart2-3-child-3{
	width: 26%; 
}
.bodypart3-2{
	width: 250px; height: 100%; margin-left: 5px;
}
.footer{
	background-color: #060809; width: 100%; 
	height: 4vw; margin-top: 5px;
}
.footer-3{
	position: relative; 
	height: inherit; 
	align-items: center; 
	justify-content: center; 
	padding: 0.4vw;
}
.footer-1{
	position: relative;
	width: calc(20% + 5px);
	height: inherit; align-items: center; justify-content: center; padding: 0.4vw; border-right: 5px solid #F8BF60;
}
.footer-icon{
	background-color: black; 
	border-radius: 50%; 
	width: 3vw; 
	height: 3vw; 
	margin-left: 0.6vw; 
	margin-right: 0.6vw;
	text-align: center;
	padding-top: 0.8vw;
	cursor: pointer;
}
.footer-icon-direction{
	align-self: flex-start;
}
.footer-icon-mark{
	align-self: flex-end;
}
.footer-icon a{
	text-decoration: none; color: white;
}
.font-size-30{
	font-size: 1.3vw;
}
.left-side{
	position: relative; 
	width: 12.8vw;
	background-color: #20252b;
	display: block;
	height: calc(100% - 6px);
	min-width: 225px;
}
.left-side1{
	position: relative; 
	width: 12.8vw;
	background-color: #20252b;
	display: block;
	min-width: 225px;
}
#speedregisterregion{
	width: 100%; 
	height: 12.4vw; 
	border: 1px solid #F8BF60; 
	display: none;
}
.reg_instant{
	background-color: #F8BF60; font-size: 1.1vw; font-weight: bold; padding-top: 0.4vw; padding-bottom: 0.4vw; color: #4d3814;
}
.reg_instant_input{
	width: 100%; 
	height: 3vw;
}
.reg_instant_input input{
	background-color: transparent;
    border-style: none;
    outline: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1.3vw;
    width: 86%;
    font-size: 0.8vw;
    padding: 0.7vw 0 0.3vw 0.4vw;
}
.reg_instant_input input::placeholder,
.adv_nickname_section textarea::placeholder
{
	color:white;
	text-align: center;
}
.reg_instant_input input::-webkit-input-placeholder,
.adv_nickname_section textarea::-webkit-input-placeholder
{
	color:white;
	text-align: center;
}
.reg_instant_input input:-ms-input-placeholder,
.adv_nickname_section textarea:-ms-input-placeholder
{
	color:white;
	text-align: center;
}

.reg_instant_btn{
	width: 100%; height: 1.6vw;	
}
.reg_instant_desc{
	width: 100%;
    height: 1.1vw;
    padding: 1.2vw 0.2vw 0px;
    font-size: 0.5vw;
    text-align: center;
    color: #a3a09b;
}
.font-size-20{
	font-size:20px;
}
#chatbox{
	border: 1px solid #F8BF60; 
	border-radius: 5px; 
	height: 43px; 
	display: flex;
	margin: 5px 2% 0;
	padding: 1%;
}
.chattext{
	width: calc(100% - 50px); background-color: transparent; border-style: none;
	overflow: hidden;
	padding: 2%;
}
.bodypart1-side span{
	font-size: 1vw; 
	line-height: normal;
    vertical-align: middle;
    display: inline-block;
}
.bodypart2-1-1{
	position: relative; 
	width: 43%;
	font-size:0.7vw;
}
.bodypart2-1-2{
	position: relative; 
	width: 26%;
	font-size:0.7vw;
}
.bodypart2-1-3{
	position: relative; 
	width: 30%;
	font-size:0.7vw;
}
.top_header{
	width: 100%; 
	height: 60px; 
	top:0px;
	background: #191E24;
	margin-left: -1px;
	z-index: 99;
}

.top_header_left_menu{
	padding-left: 15px; padding-top: 8px; font-size: 18px; font-weight: bold; text-decoration: none;
	z-index: 100;
}
.top_header_btn{
	padding: 4px 15px;
	margin-bottom: 12px; 
	font-size: 18px;
	font-weight: bold; 
	text-decoration: none; 
	background-color: #F8BF60; 
	color: black; 
	border-radius: 12px; 
	-moz-box-shadow: 0px 5px 0px 0px #9F804A; -webkit-box-shadow: 0px 5px 0px 0px #9F804A; box-shadow: 0px 5px 0px 0px #9F804A;
	z-index: 100;
	margin-top: 3px;
}
a:hover{
	color:none;
	text-decoration: none;
}
#depositbutton{
	padding:0.16vw 0.5vw; margin-top: 0.16vw; margin-bottom: 0.5vw; font-size: 15px; font-weight: bold; text-decoration: none; background-color: #F8BF60; color: black; border-radius: 12px; -moz-box-shadow: 0px 0.2vw 0px 0px #9F804A; -webkit-box-shadow: 0px 0.2vw 0px 0px #9F804A; box-shadow: 0px 0.2vw 0px 0px #9F804A;
}
.reward_mobile_camp{
	padding:5px 10px; 
	margin-bottom: 19px; 
	font-size: 10px; 
	font-weight: bold; 
	text-decoration: none; 
	background-color: #F8BF60; color: black !important; 
	-moz-box-shadow: 0px 3px 0px 0px #9F804A; -webkit-box-shadow: 0px 3px 0px 0px #9F804A; box-shadow: 0px 3px 0px 0px #9F804A;
}
.reward_download_banner{
	background-color:#5b5b5c;
	-moz-box-shadow: 0px 3px 0px 0px #46474a; -webkit-box-shadow: 0px 3px 0px 0px #46474a; box-shadow: 0px 3px 0px 0px #46474a;
}
.create_camp{
	margin-left:30%;
}
.collect_comission{
	padding: 5px 10px; 
	font-size: 15px; font-weight: bold; 
	text-decoration: none; 
	background-color: #F8BF60; color: black !important; 
	border-radius: 6px !important; 
	-moz-box-shadow: 0px 3px 0px 0px #9F804A; -webkit-box-shadow: 0px 3px 0px 0px #9F804A; box-shadow: 0px 3px 0px 0px #9F804A;
}
#header_depositbutton{
	padding:3px 10px; 
	font-size: 18px; font-weight: bold; text-decoration: none; background-color: #F8BF60; color: black; 
	border-radius: 12px; 
	-moz-box-shadow: 0px 4px 0px 0px #9F804A; -webkit-box-shadow: 0px 4px 0px 0px #9F804A; box-shadow: 0px 4px 0px 0px #9F804A;
	margin-top: 3px;
}
.tier-section{
	height:70px;
}
.tier-section p{
	font-weight: bold;
	font-size:30px !important;
}
.level-section{
	height: 70px;
    font-size: 16px;
    line-height: 70px;
}
.award-section{
	height: 100px;
    font-size: 25px;
    line-height: 100px;
}
.award-section span{
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 100%;
    word-break: break-all;
}
.reward_spin{
	color:black;
	font-weight:bold;
	position: absolute;
	padding-top:6px;
}
.chat_emo{
	margin-top: 2%;
	
}
.levelpart-section{
	background-color: #282A30; 
	padding-top: 4px; 
	-moz-box-shadow: 0px 5px 0px 0px #1F2329; -webkit-box-shadow: 0px 5px 0px 0px #1F2329; box-shadow: 0px 5px 0px 0px #1F2329;
}
.levelpart1-section{
	padding-left: 7px;
	margin-right: 5px;
	padding-right: 7px;
}
.levelpart2-section{
	padding-right: 7px; 
	padding-left: 7px;
	margin-left: 5px; 
}
.reward-earning-part label{
	font-size:0.5vw !important;
	width: 100%;
    margin-bottom: 0;
}
.bodypart2-2{
	height: 3.1vw; 
	margin-left: 5px; background-color: #282A30;
}
#mainboard{
	position: relative; margin-left: 0.9%; margin-right: 0px;
	height: calc(100% - 6px);
	scrollbar-color:#232a30 #20252B;
	scrollbar-width:thin;
}
#expbar-fit{
	width: 0%; 
	height: 100%; 
	position: absolute; 
	left: 0px; top: 0px; 
	background-color: #F8BF60; 
	-moz-box-shadow: -1px 5px 0px 0px #725E3C; -webkit-box-shadow: -1px 5px 0px 0px #725E3C; box-shadow: -1px 5px 0px 0px #725E3C;
}

.mobile-spin-icon,
.mobile-spin-section,
.left-side-mobile{
	display:none;
}
.bonus_win_cong{
	font-size:40px;
	margin-bottom:10px;
	z-index: 11;
	position: relative;
}
.bonus_win_won{
	font-size:40px;
	margin-bottom:60px;
	z-index: 11;
	position: relative;
}
.bonus_win_free{
	font-size:40px;
	margin-top:60px;
	z-index: 11;
	position: relative;
}
.bonus_win_left{
	float: left;font-size:12px;position: absolute;
}
.bonus_win_right{
	float: right;font-size:12px;position: absolute;right:8px;
}
.bonus_win_bottom{
	bottom:10px;
}
.bonus_spin_cnt_section{
	width:100%;
	display:none;
	font-weight: bold;
	margin-top: 5px;
	line-height: 1;
}
.layout_3 .bonus_spin_cnt_section{
	margin-top:2px;
}
.bonus_spin_title{
	font-size:30px;
	line-height: 1;
}
.bonus_spin_cnt{
	font-size:20px;
	line-height: 1;
}
.signup_modal_body{
	position: relative;
	border:3px solid #F8BF60;
	display: flex;
}
.signup_modal_section{
	max-width: 1020px !important;
}
.signup_modal1_top_left{
	width:calc(61% + 1px);
	height:auto;float:left;
	padding-top: 20px;
	background-color: #191e24;
}
.signup_modal1_top_right{
	width:39%;height:auto;float:left;
	background: #25292f;
	padding: 28px;
}
.signup_star_section{
	display: flex;
	padding-top: 20px;
}
.signup_modal1_footer{
	width: 100%;background-color: transparent !important;height: 30%;position: relative;float: left;
}
.signup_modal1_footer_section{
	width:38%;margin-left:6%;margin-top:10px;background:rgb(0,0,0,0.6);padding:5px 18px;
}
.margin_bottom_0{
	margin-bottom:0px;
}
.signup_input_section{
	width: 80%;
	margin: auto;
	margin-top: 10px;
}
#accountmodal .signup_input_section{
	width: 66%;
}
.inputbox_desc{
	text-align: left;
	margin-bottom: 5px;
	font-size: 20px;
}
.white_background{
	background-color: white !important;
	border: 2px solid white !important;
}
.signup_input{
	font-size: 23px; 
	background-color: transparent; border-style: none; color: white;border:2px solid #F8BF60;
	padding: 10px 0 10px 14px;
	width: 100%;
	border-radius: 5px;
}
#button-to-final{
	padding: 20px 220px; font-size: 26px; font-weight: bold; text-decoration: none; background-color: #F8BF60; color: black; border-radius: 12px; -moz-box-shadow: 0px 5px 0px 0px #9F804A; -webkit-box-shadow: 0px 5px 0px 0px #9F804A; box-shadow: 0px 5px 0px 0px #9F804A;
}
.chceck_part{
	padding-bottom: 65px;
	position: relative;
}
.square-orange-btn{
	padding: 10px 20px; 
	font-size: 30px; font-weight: bold; text-decoration: none; background-color: #F8BF60; color: black; 
	-moz-box-shadow: 0px 5px 0px 0px #9F804A; -webkit-box-shadow: 0px 5px 0px 0px #9F804A; box-shadow: 0px 5px 0px 0px #9F804A;
}
.left-menu-icon{
	font-size: 0.8vw;
}
.left-menu-chat-label{
	font-size: 0.55vw;
}
#onlineusers{
	position: relative; 
	width: calc(100% - 6vw);
	font-size: 0.55vw;
	line-height: 24px;
}
.chat_btn_section a{
	font-size: 0.65vw;
}
.gun_shoot_animation,
.gun_miss_animation{
	width:100%;
	height:100%;
	display: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: relative;
}
.gun_shot_image{
	display:none;
}
.chat_btn_section{
	position: relative; 
	width: 6vw;
}
.depositmodal_section{
	background-color:#282a30;
	border:2px solid #F8BF60;
	padding-bottom: 10px;
}
.depositmodal_left_side{
	width:20%;
	float:left;
}
.depositmodal_right_side{
	width:79%;
	float:left;
	padding-bottom: 0px;
}
.depositmodal_center{
	width:1%;
	float:left;
	height: 30px;
}
.depositmodal_decline{
	display: inline-block; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 5px; 
	font-size: 15px; 
	width: 35%; 
	font-weight: bold; 
	color: black !important; 
	background-color: #A3A09B; border-radius: 7px; -moz-box-shadow: 0px 4px 0px 0px #5E5F60; -webkit-box-shadow: 0px 4px 0px 0px #5E5F60; box-shadow: 0px 4px 0px 0px #5E5F60; text-decoration: none;
}
.depositmodal_activate{
	display: inline-block; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 5px; 
	font-size: 15px; 
	width: 35%; 
	font-weight: bold; 
	color: black !important; 
	background-color: #F8BF60; border-radius: 7px; -moz-box-shadow: 0px 5px 0px 0px #9F804A;
    -webkit-box-shadow: 0px 5px 0px 0px #9F804A;
    box-shadow: 0px 5px 0px 0px #9F804A; text-decoration: none;
}
.depositmodal_close{
	position: absolute;
	width:30px;
	margin-left: -30px;
}
.margin-bottom-0{
	margin-bottom:0px;
}
#deposit{
	margin:10px 0;
}
#my_bitcoin_address{
	box-shadow: 0px 5px 1px #866d45;border:1px solid #f8bf60;border-top-left-radius:5px;border-bottom-left-radius:5px;padding-left:15px;padding-right:15px;
	background: transparent;
}
#my_bitcoin_address_btn{
	background:#f8bf60;
	color:black;
	padding:2px 25px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow: 0px 5px 1px #866d45;
	margin-left:-6px;
	cursor: pointer;
}
.deposit_menu{
	width:100%;text-align:left;display: list-item;
	cursor: pointer;
}
#trade_url_confirm{
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 5px; 
	font-size: 2vh; 
	width: 25%; font-weight: bold; color: black; background-color: #f8bf60; 
	-moz-box-shadow: 0px 4px 0px 0px #907548; -webkit-box-shadow: 0px 4px 0px 0px #907548; box-shadow: 0px 4px 0px 0px #907548; 
	text-decoration: none;
}
.vgo_item_each_section{
	width:calc(25% - 5px);
	float:left;height:155px;
	margin-bottom:5px;
	margin-right:5px;
}
.vgo_eye_section{
	text-align:right;
	font-size:12px;
}
.round_result_bonus{
	font-size:0.6vw;
	text-shadow: 2px 2px black;
	margin-bottom: 0;
	line-height: .8vw;
}
#game_group,
#game_solo{
	cursor:pointer;
}
.russian_roulette_players{
	font-size: 0.55vw;
	height: 1vw;
	line-height: 1;
}
.brag_section{
	text-decoration: none;
	font-size:12px;
}
.brag_section p{
	margin-bottom: 0;
}
.brag-menu{
	background-color: #20252b;
    border: 1px solid #F8BF60;
    position: absolute !important;
    top: calc(100% - 500px);
    z-index: 1000;
    list-style: none;
    display: none;
}
.top_header_center_title{
	text-shadow: 0px 2px #9F804A;
	font-size: 20px;
	margin-top: -7px;
	margin-bottom: 0;
}
.modal{
	z-index: 9999;
}
.modal_close_btn{
	border: none;
	display: block; 
	margin-left: auto; margin-right: auto; 
	padding: 5px; font-size: 1.1vw;
	width: 20%; font-weight: bold; color: black !important; background-color: #A3A09B; border-radius: 7px; -moz-box-shadow: 0px 4px 0px 0px #5E5F60; -webkit-box-shadow: 0px 4px 0px 0px #5E5F60; box-shadow: 0px 4px 0px 0px #5E5F60; text-decoration: none;text-align: center;
}
.modal_close_btn:focus{
	border: none;
	outline: none;
}
.reward_use_btn{
	padding: 5px; font-size: 20px; width: 15%; font-weight: bold; color: #f8bf60; background-color: black; border-radius: 7px; -moz-box-shadow: 0px 4px 0px 0px #1c1d24; -webkit-box-shadow: 0px 4px 0px 0px #1c1d24; box-shadow: 0px 4px 0px 0px #1c1d24; text-decoration: none;margin-left:240px;
}
.login_label{
	color: white;margin-top: 20px;
}
.signup_label{
	color:white;
	font-size: 20px;
	margin-top: 25px;
	margin-bottom: 15px;
}
.login_btn{
	padding: 27px 0px; 
	font-size: 30px; 
	font-weight: bold; 
	text-decoration: none; 
	background-color: #F8BF60; 
	color: black; border-radius: 12px; 
	-moz-box-shadow: 0px 5px 0px 0px #9F804A; -webkit-box-shadow: 0px 5px 0px 0px #9F804A; box-shadow: 0px 5px 0px 0px #9F804A;
	width: 100%;
	border: none;
	outline: none;
	cursor: pointer;
}
.fa_btn{
	font-size: 24px;
	padding: 11px 0;
}
.signin_btn{
	padding: 15px 0;
}
.button-second-section{
	margin-top:30px;
}

.singup_desc{
	color: #d5d5d5;margin-top: 85px;font-size: 12px;text-align: left;padding: 0 10px;
}
.signup_bonus{
	font-size:30px;
	text-shadow: 1px 6px 5px black;
}
.welcome_bonus{
	font-size:24px;margin-top:50px;	
	margin-bottom: 0px;
	text-shadow: 1px 6px 5px black;
}
.x2{
	font-size: 163px;
	text-shadow: 0px 1px #6c5736, 0px 2px #6c5736, 0px 3px #6c5736, 0px 4px #6c5736, 0px 5px #6c5736, 0px 6px #6c5736, -1px 7px #6c5736, -2px 8px #6c5736;
	padding: 10px 0;
}
.more_btn{
	display: none;
}
.more_btn .dropdown-menu{
	transform:none !important;
	border:none;
}
.more_btn .dropdown-menu li a{
	color:white;
}
.more_btn ul{
	top:36px !important;
	left: -14px !important;
}
.reward_code{
	background: transparent;border:1px solid #f8bf60;width:250px;border-top-left-radius:5px;border-bottom-left-radius:5px;padding:2px;color:#A3A09B;
	font-size: 19px;
}
.gift_modal{
	max-width: none; width: 800px; background-color: transparent;
}
.gif_modal_body{
	width: 100%; 
	background-color: #191e24; position: relative;border:2px solid;border-radius:20px;
}
.gift_modal_title{
	font-size:32px;
	padding:11px 0;
	margin-bottom: 0px;
}
.gift_modal_desc{
	color: white; font-size: 26px; padding-left: 15px; padding-right: 15px;margin-top:20px;
}
.play_desc{
	padding-left: 17%;
}
.gift_bottom{
	padding-bottom: 45px;
}
.gift_modal_desc1{
	padding-bottom: 20px;
	border-bottom: 2px solid white;
}
.chat-header-part span{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.chat-header-part img{
	width: auto;
	height: 72%;
	vertical-align: middle;
}
.counter{
	line-height: 100%;
	text-align: center;
	display: none;
	z-index: 11;
	top: 0;
	position: absolute;
}
.counter_title{
    line-height: 100%;
    text-align: center;
    display: none;
    z-index: 11;
    top: 0;
    position: absolute;
}
.counter>span,
.counter_title span{
	display: table-cell;
    vertical-align: middle;
    text-shadow: 0px 1px #a48050,0px 2px #a48050,0px 3px #a48050,0px 4px #a48050,0px 5px #a48050,0px 6px #a48050,0px 7px #a48050,0px 8px #a48050;
}
.black_fade{
	position: absolute;width:100%;background:rgb(0,0,0, 0.75);
	top:10px;
	display: none;
	z-index: 10;
}
#revolver .case.timer-off{
	z-index: 11;
}
.bonus_roll{
	position: absolute;
    display: none;
    z-index: 111;
    opacity: 0.05;
    line-height: 0%;
}
.bonus_win .case.timer-off{
	z-index: 10;
}
.bonus_spin_roll_size{
	color:#3e3018;
}
.bonus_win .win_multipler span{
	font-size:90px !important;
}
.win_multi_title div{
	float:left;
}
.spin_mul{
	float:left;
	font-size: 16px;
	color: #F8BF60;
}
.spin_left_mul{
	width:40%;
	color:black;
	float:left;
	margin-top: 0.3vw;
}
.spin_center_mul{
	width:17%;
	color:black;
	float:left;
	margin-top: 0.3vw;
}
.spin_right_mul{
	width:43%;
	color:black;
	float:left;
	margin-top: 0.3vw;
}
.modal_play_btn{
	padding: 4px 10px; 
	font-size: 15px; 
	font-weight: bold; 
	text-decoration: none; 
	background-color: #F8BF60; 
	color: black;
	-moz-box-shadow: 0px 3px 0px 0px #9F804A; -webkit-box-shadow: 0px 3px 0px 0px #9F804A; box-shadow: 0px 3px 0px 0px #9F804A;
	cursor: pointer;
	width: 80%;
	margin: auto;
	text-align: center;
}
.modal_autoplay_btn{
	background-color: #F8BF60;
	width: 40px; 
	margin:auto;
	padding: 5.5px; 
	text-align: center; 
	-moz-box-shadow: 0px 3px 0px 0px #9F804A; 
	-webkit-box-shadow: 0px 3px 0px 0px #9F804A; 
	box-shadow: 0px 3px 0px 0px #9F804A;
	cursor: pointer;
	margin-bottom: 5px;
}
.info_modal_table{
	width:100%;
}
.info_modal_table tbody tr td:first-child{
	border-right:1px solid white;
}
.info_modal_table tbody tr td:nth-child(2){
	padding:25px 10px;
}
#rewardsbutton{
	padding-right:15px;
}
#loginbutton{
	margin-left:15px;
	color: black !important;
}
#signupbutton{
	margin-left:15px;
	color: black !important;
}
.group_game{
	float: left;
	cursor: pointer;
	margin-left: 2%;
	margin-top: 1.8%;
	font-size: 0.8vw;
}
.solo_game{
	float:right;
	cursor: pointer;
	margin-top: 1.8%;
	margin-right: 2%;
	font-size: 0.8vw;
}
.group_game_mobile{
	float: left;
	cursor: pointer;
	font-size: 12px;
	display: none;
	margin-left: 50px;
	vertical-align: middle;
	line-height: 40px;
}
.solo_game_mobile{
	float:right;
	cursor: pointer;
	font-size: 12px;
	display: none;
	margin-right: 50px;
	vertical-align: middle;
	line-height: 40px;
}
.autoplay_spin{
	position: absolute;background: #f8bf60;
	top:-182px;right: 0.4vw;z-index: 11;
	display: none;
	width: calc(24% - 4px);
}
.autoplay_spin_mobile,
.wager_mobile{
	position: absolute;background: #f8bf60;
	top:-189px;
	left: calc(75% + 27px);z-index: 11;
	display: none;
	width:calc(calc(20% - 30px) + 4px);
}
.wager_mobile{
	height: 190px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.autoplay_spin li,
.autoplay_spin_mobile li,
.wager_mobile li{
	list-style: none;
	cursor: pointer;
}
.wager_mobile li{
	font-size:14px;
	padding: 7px 0;
}
.remain_cnt{
	width:100%;
	height:50%;
	padding-top: 0.2vw;
}

.layout_2_play_section{
	display: flex;
    flex-wrap: wrap;
    padding: 0.4vw !important;
}
.layout_2 .footer-3{
	position: relative;
    height: inherit;
    display: block;
}
#loggedout{
	position: relative; 
	height: 40px; 
	flex-direction: row-reverse;
	line-height: 40px;
	display: none;
}
#loggedout span{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin-right: 10px;
}
#loggedin{
	position: relative; 
	height: 40px; 
	flex-direction: row-reverse;
	display: none;
}
#loggedout ul li,
#loggedin ul li{
	cursor:pointer;
}
.info_section{
	position: absolute;
	background:rgb(0,0,0,0.95);
	width:100%;
	height: 100%;
	left:0;top:0;
	z-index:9999;
	color:white;
	display: none;
}
.info_body{
	width: calc(calc(100% - 339px)/2);;
	height: 80vh;
	margin: auto;
	margin-top: 10vh;
	margin-left: calc(339px + calc(calc(100% - 339px)/4));
}
.info_title{
	font-size:22px;
	text-align: left;
	padding-bottom: 20px;
	padding-left: 10px;
}
.info_desc{
	text-align: left;
	padding-bottom: 25px;
	padding-left: 10px;
	font-size: 15px;
}
.info_header{
	padding-top:16px;
}
.info_header span{
	font-size:25px;
}
.info_close{
	text-align: right;width:100%;font-size:20px;cursor: pointer;
}
.info_main{
	overflow-y: scroll;
	height:calc(100% - 83px);
	overflow-x: hidden;
}
.round_result_section{
	line-height: 2.8vw;
}
.round_result_text{
    font-size: 0.8vw;
    vertical-align: middle;
    text-shadow: 2px 2px black;
}
#helpmodal .modal-dialog-centered
{
	min-height: 60vh;
	height: 80vh;
	margin-top: 10vh;
}
#accountmodal .modal-dialog-centered{
	width: 800px;
}
#rewardmodal .modal-dialog-centered
{
	min-height: 60vh;
	height: 72vh;
	margin-top: 14vh;
}
#rewardmodal .nav.nav-tabs li.nav-item{
    margin: 6px;
    width: auto;
    background: #282a30;
    border-radius: 6px;
    line-height: 16px;
    display: inline-block;
}
.bonus_wait,.bonus_wait1{
	display: none;
    vertical-align: middle;
    line-height: normal;
    font-size: 1vw;
    margin-left: -2vw;
}
.bonus_wait1{
	margin-right: -30px;
}
.bonus_wait_css{
	text-align: center;
	line-height: 3vw !important;
}
.spin_mul.center_mul{
	height: 1px;
}
.stop_play{
	margin-top:0.3vw;
	cursor: pointer;
}
.spin_multipler span{
	font-size:1.3vw;
	line-height: 1;
}
#bodypart0{
	margin-bottom:0px;
	width: 100%; height: 32px;display: none;
}
.mobile_play_btn{
	width:100%;
	height: 90%;
	background-color:#F8BF60;
	vertical-align: middle;
	line-height: 9.8vh;
	font-size: 6vh;
	box-shadow: 0px 5px #a6824a;
}
.mobile_small_play_btn{
	width:80%;
	background-color:#F8BF60;
	vertical-align: middle;
	line-height: 25px;
	font-size:1.9vh;
	box-shadow: 0px 0.5vh #a6824a;
	line-height: 1.1;
}
.mobile-spin-part{
	width:25%;
	float:left;
}
.mobile-spin-part-center{
	width:50%;
	float:left;
}
.mobile-spin-part-left-padding{
	padding-right: 30px;
}
.mobile-spin-part-right-padding{
	padding-left: 30px;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.mobile_spin_top_btn{
	height: 80%;
}
.mobile_spin_bottom_btn{
	height: 80%;
}
.mobile_gem_data,
.mobile_spin{
	display: none;
}
#expbar-left{
	width: 8%; height: 100%; position: absolute; right: 0px; top: 0px; background-color: white; -moz-box-shadow: 0px 5px 0px 0px #75787C; -webkit-box-shadow: 0px 5px 0px 0px #75787C; box-shadow: 0px 5px 0px 0px #75787C;
}
.win_multipler .roulette_wheel,
.spin_right_mul .roulette_wheel,
.spin_left_mul .roulette_wheel{
	overflow: hidden;
}
.footer_center{
	line-height: 1;
}

.layout_2 .footer-3{
	line-height: 1;
}
.spin_round_trophy{
	z-index:11;
	position: absolute;
	display: none;
}
.top_winners_list{
	height: 1vw;
}
.stop_button{
	width:100%;height:50%;border-bottom:1px solid black;
}
.layout_2 .stop_button{
	width:100%;height:50%;border-bottom:1px solid black;
	line-height: 1.5;
	cursor: pointer;
}
#chat {
	font-family: 'Montserrat-SemiBold-RR' !important;
}
.transaction_history{
	background: none;
	border-bottom: 1px solid #191E24;
}
#exppart{
	height: 32px;
	background-color: white; 
	display: block; 
	position: relative;
	box-shadow: 0px 5px 0px 0px #75787C;
}
#loggedin .dropdown-menu{
	padding: 12px;
}
#loggedin .dropdown-menu li{
	padding: 5px 0;
}
#rewardmodal .modal-dialog-centered{
	max-width: 880px;
}
#rewardmodal .modal-content{
	padding: 20px;
}
.round_result_section_bonus{
	width:3vw;
	display:flex;
	align-items:center;
}
#iframe_section{
	backface-visibility: hidden;
}
.account_my_spin{
	font-weight:bold;
	margin-right: -150px;
	font-size:19px;
	line-height: 1;
	padding-top: 5px;
}
.account_modal_spin_section{
	height: 50px;
}
.account_modal_spi_btn{
	padding: 3px; font-size: 14px; width: 25%; font-weight: bold; color: black !important; background-color: #f8bf60; border-radius: 7px; -moz-box-shadow: 0px 4px 0px 0px #997a49; -webkit-box-shadow: 0px 4px 0px 0px #997a49; box-shadow: 0px 4px 0px 0px #997a49; text-decoration: none;position: relative;float:right;
}
.spin_btn span .fa-sync-alt{
	font-size: 1.6vw !important;
}
.before_login{
	background-color: #282a30;
	display: flex;
	margin-top: 65px;
	border: 5px solid #F8BF60;
}
.before_login_mobile{
	display: none;
	border: 3px solid #f8bf60;
	background-color: #282a30;
	margin-bottom: 5px;
	margin-top: 45px;
}
.gem_part{
	height: 10%;
	margin-bottom: .5rem;
}
.login_modal_log_desc{
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.login_signup span{
	color: #747883 !important;
	margin: 0 13px;
	font-size: 20px;
}
.login_signup span.active{
	color: #F8BF60 !important;
	text-decoration: underline;
	text-underline-position: under;
}
#loginmodal .modal-content{
	border: none;
}
.signup_service{
	font-size: 14px;
	margin-left: 18px;
	margin-top: 13px;
}
.gift_service{
	font-size: 16px;
    position: absolute;
    left: 250px;
    top: 11px;
}
.singup_star{
	font-size: 48px;
	margin: auto;
	text-shadow: 1px 6px 5px black;
}
.layout_2 .play_btn{
	line-height: 2.9vw
}
.before_login_left,
.before_login_right{
	width: 30%;
	float:left;
}
.before_login_adv{
	width: 40%;
	float:left;
	height: 15vw;
	display: inline-table;	
}
.bonus_adv{
	margin-top: 1.5vw;
	background: #141518;
}
.before_login_adv .welcome{
	padding: 0.6vw 0;
}
.before_login_adv .welcome label{
	font-size: 1.1vw;
	margin-bottom: 0;
}
.before_login_adv .describe label{
	margin-bottom: 0;
}
.before_login_adv .describe{
	padding: 0 2vw;
	font-size: 1.5vw;
	margin-bottom: 0.4vw;
}
.before_login_adv .describe label{
	line-height: 1;
}
.before_login_adv .btn_section{
	padding: 0 2vw;
	display: flex;
}
.before_login_adv .btn_section .each_part{
	width: 50%;
	float:left;
}
.before_login_adv .btn_section .each_part textarea{
	width: 100%;
    background: transparent;
    border: 2px solid white;
    font-size: 1vw;
    padding: 1vw 0.6vw 0.1vw;
    color:white;
    resize: none;
    height: 3vw;
    overflow: hidden;
}
.before_login_adv .btn_section .each_part input::placeholder{
	color: #EBEAE9;
}
.signup_show_password{
	font-size: 20px;
	position:absolute;
	right: 10px;
	top: 55px;
	cursor: pointer;
}
.win_multi_title{
	font-size: 0.71vw;
}
.reward-section label{
	font-size: 20px;
}
.reward-section p{
	font-size: 0.8vw;
}
#reward_earning_star{
	font-size:1vw;
}
.brag_describe{
	font-size:11px;
	margin-bottom: 0px;
	padding:0 3px;
}
.brag_top_section{
	border-bottom: 1px solid #191e24;height: 145px;
}
.top_winner_cylinder{
	width:0.6vw;
}
.help_title{
    background: #282A30;
    border: 2px solid;
    font-size: 0.625vw;
    padding: 0.4vw;
    margin-top: 10px;
}
#helpmodal .modal-dialog{
	max-width: 37% !important;
}
.top_winners_list i{
	font-size: 0.55vw;
}
.reward_earning{
	width:100%;background: #282A30;text-align:center;
	height: 135px;
}
.left-side-chat{
	font-weight: 500;
	line-height: 0.7vw;
}
.welcome_user{
	font-size: 30px;line-height: 1;
}
#helpmodal .modal-text p{
	margin-bottom: 0.5rem;
}
.login_signup span,
.login_modal_footer span{
	cursor: pointer;
}
.layout_2 .autoplay_spin li{
	line-height: 1.5;
}
#onlineusers i{
	font-size: 0.65vw;
}

.progress_section{
	width: 100%;
	padding: 10px 15px;
}
.win_progress{
	background: #f8bf60;
	width: 30%;
	position: absolute;
	height: 7px;
}
.lose_progress{
	width: 70%;
	position: absolute;
	height: 7px;
}
.progress_circle{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-top: -4px;
	background: #f8bf60;
}
.reward_mark{
	position: absolute;
	color: #747883;
	font-size: 20px;
}
.reward_mark_section{
	height: 40px;
	padding: 5px 20px;
}
.circle_1{
	margin-left: -2px;
}
.circle_2{
	margin-left: calc(calc(100% - 30px)/4);
}
.circle_3{
	margin-left: calc(calc(100% - 30px)/2);
}
.circle_4{
	margin-left: calc(calc(100% - 30px)/4*3);
}
.circle_5{
	margin-left: calc(100% - 34px);
}
.circle_6{
	margin-left: calc(100% - 70px);
}
.progress{
	width: 100%;
	height: 7px;
	background: #a3a09b;
}
#top_test{
	overflow: auto;
}
#player_test{
	overflow: auto;
	padding-left: 4px;
}
.spin_mul_title{
	font-size: 0.71vw;
	line-height: 2;
}
.top_winners_list .small{
	font-size: 0.55vw;
}
#accountmodal .nav.nav-tabs li.nav-item{
    margin: 12px;
    width: auto;
    background: #282a30;
    line-height: 20px;
    display: inline-block;
    font-size: 20px;
}
#accountmodal .nav.nav-tabs li.nav-item > .active{
	background: transparent;
	text-decoration: underline;
	color: #F8BF60;
	text-underline-position: under;
}
.fa2_copy{
	right: 30%;
    position: absolute;
    top: 10px;
}
.fa_copy_code{
	font-size: 16px;
	margin-top: 1rem !important;
}
.qr_image{
	width:145px;
	height: 145px;
}
.fa_password{
	border-radius: 10px;
	width: 60%;
	font-size: 18px;
	background-color: transparent;
	border-style: none;
	color: white;
	border: 2px solid #f8bf60;
	padding: 11px;
	margin-top: 15px;
}
#accountmodal .modal-content{
	padding: 17px !important;
}
#accountmodal .fade:not(.show),
#helpmodal .fade:not(.show),
#rewardmodal .fade:not(.show){
	display:none;
}
.fa_enable{
	padding: 10px 0;
	font-size: 20px;
	width: 60%;
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 15px;
	border-radius: 10px;
	margin-bottom: 5px;
}

#transaction{
	background: #191E24;
}
.auth_code{
	background: #191e24;
	width:424px;
	padding:8px;color:#A3A09B;
	font-size: 16px;
	padding-left: 10px;
	border: none;
}
.preference_btn{
	padding: 10px 25px; font-size: 20px; font-weight: bold; text-decoration: none; background-color: #F8BF60; 
	color: black !important;
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 15px;
	border-radius: 10px; -moz-box-shadow: 0px 5px 0px 0px #9F804A; -webkit-box-shadow: 0px 5px 0px 0px #9F804A; box-shadow: 0px 5px 0px 0px #9F804A;
}
.account_time{
	font-size:11px !important;
	color:white;
	padding-top: 5px !important;
}
#accountmodal .modal-header{
	margin-bottom: 10px;
}
.account_margin_top_10{
	margin-top: 10px;
}
#accountmodal .fade{
	transition: none;
	height: 100%;
}
#rewardmodal .reward-earning-part label:first-child{
	font-size: 18px !important;
	line-height: 1;
}
#rewardmodal .nav.nav-tabs li.nav-item > .active{
	background: transparent;
	text-decoration: underline;
	color: #F8BF60;
	text-underline-position: under;
}
#rewardmodal .reward-section{
	width: 100%;
}
#rewardmodal .modal-title{
	font-size: 25px;
}
#rewardmodal .reward-section p{
	font-size: 12px;
}
.reward-section label{
	font-size: 20px;
}
#rewardmodal .modal-title{
	font-size: 25px;
}
#reward_earning_star{
	font-size: 20px;
}
.table_section{
	padding-top: 10px;
	height: 230px;
}
#campaign table tr th:first-child{
	width: 20%;
}
#campaign table tr th:last-child{
	width: 15%;
}
#campaign table tr th:nth-child(2){
	width: 35%;
}
#campaign table tr th:nth-child(3){
	width: 30%;
}
#campaign table tr td:nth-child(2),
#campaign table tr td:nth-child(3){
	position: relative;
}
#campaign table tr td{
	padding: 10px 0;
}
.campaign_link{
	background: #191e24;
	border: none;
    padding-left: 5px;
    width: 98%;
}
.campaign_copy{
	position: absolute;
    right: 5%;
    top: 15px;
}
.reward-desc{
	padding: 1rem 0.5rem;
}
.reward_close{
	display: block; margin-left: auto; margin-right: auto; padding: 5px; font-size: 2vh; width: 15%; font-weight: bold; color: black !important; background-color: #A3A09B; border-radius: 7px; -moz-box-shadow: 0px 4px 0px 0px #5E5F60; -webkit-box-shadow: 0px 4px 0px 0px #5E5F60; box-shadow: 0px 4px 0px 0px #5E5F60; text-decoration: none;
}
#logout-cancel{
	padding: 14px 25px;
	font-size: 20px; 
	font-weight: bold; 
	text-decoration: none; 
	background-color: #A3A09B; 
	color: black; 
	border-radius: 12px; 
	-moz-box-shadow: 0px 5px 0px 0px #6A6A6A; -webkit-box-shadow: 0px 5px 0px 0px #6A6A6A; box-shadow: 0px 5px 0px 0px #6A6A6A;
}

#logout-accept{
	padding: 14px 32px; font-size: 20px; font-weight: bold; text-decoration: none; background-color: #F8BF60; color: black; border-radius: 12px; -moz-box-shadow: 0px 5px 0px 0px #9F804A; -webkit-box-shadow: 0px 5px 0px 0px #9F804A; box-shadow: 0px 5px 0px 0px #9F804A;
}
.logout_section{
	width: 100%;
	margin-top: 30px;
}
#logoutmodal .modal-dialog{
	width: 600px;
    min-height: 100px;
    height: 100px;
    margin-top: calc(calc(100vh - 100px)/2);
}
.player_icon{
	font-size: 0.8vw;
}
.account_menu ul{
	white-space: nowrap;
}
.squaredThree {
  position: relative;
  float:left;
  margin-left: 13%;
  margin-top: 15px;
}
.squaredPre {
  position: relative;
  float:left;
  margin-left: 19%;
  margin-top: 8px;
   margin-right: 10px;
}
.squaredCheck {
  position: relative;
  float:left;
  margin-left: 28%;
  margin-top: 15px;
}
.squaredThree label,
.squaredCheck label {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #F8BF60;
  border-radius: 4px; 
}
.squaredPre label{
	width: 15px;
	height: 15px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	border:1px solid #F8BF60;
	border-radius: 4px;
}

.squaredThree label:after,
.squaredCheck label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 3px solid #191e24;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredPre label:after{
	content: '';
	width: 9px;
	height: 5px;
	position: absolute;
	top: 4px;
	left: 3px;
	border: 3px solid #F8BF60;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);	
}

.squaredThree input[type=checkbox],
.squaredPre input[type=checkbox],
.squaredCheck input[type=checkbox] {
  visibility: hidden;
}

.squaredThree input[type=checkbox]:checked + label:after,
.squaredPre input[type=checkbox]:checked + label:after,
.squaredCheck input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.label-text {
  position: relative;
  left: 10px;
}

.form-control-adv {
	position: absolute;
	pointer-events: none;
	left: 0.6vw;
	top: 0.7vw;
	transition: 0.2s ease all;
	color: white;
	font-size: 1vw;
}

.form-control-placeholder {
	position: absolute;
	pointer-events: none;
	left: 14%;
	top: 32px;
	transition: 0.2s ease all;
	color: #a3a09b;
	font-size: 23px;
}
.form-control-left {
	position: absolute;
	pointer-events: none;
	left: 10%;
	top: 0.4vw;
	transition: 0.2s ease all;
	color: white;
	font-size: 0.9vw;
}
.pos-relative{
	position: relative;
}
.underline{
	text-decoration: underline;
	text-underline-position: under;
}
.signup_describe{
	margin-top: .5rem;
	font-size: 0.5vw;
	font-family: 'Montserrat-Light';
}
.signup_desc{
	text-shadow: 1px 6px 5px black;
}
.gem_table{
	width: 100%;
	height: 100%;
}
.gem_table tr td{
	text-align: center;
	font-size: 2.8vw;
}
.gem_table tr td i{
	text-shadow: 4px 3px black;
}
.before_login_x2{
	font-size: 6vw !important;
	text-shadow: 0px 1px #a48050,0px 2px #a48050,0px 3px #a48050,0px 4px #a48050,0px 5px #a48050,0px 6px #a48050,0px 7px #a48050,0px 8px #a48050;
}
.space_btw_mul{
	padding-right:0.43vw;
}
.desc_section{
	height: 10%;
	background: #282a30;
}
.adv_section{
	background: #141518;
}
.help{
	width: 100%;
}
.help.nav.nav-tabs li.nav-item{
	width: 50%;
	margin: 0;
	font-size: 1.3vw;
	text-align: center;
}
#helpmodal .modal-header{
	background: none;
	border-bottom: 3px solid;
}
.collapsed>div>.help_collap_icon{
	float: right;
	margin-top: 0.2vw;
}
.help_collap_icon{
	float: right;
	margin-top: 0.2vw;
}
.help_sub_title,
.help_sub_desc{
	background: #282a30;
	font-size: 0.625vw;
    padding: 0.4vw;
    margin-top: 10px;
	color: #a3a09b;
	font-family: 'Montserrat-SemiBold-MULTIPLER' !important;
}
.help_sub_title{
	display: table;
}
.help_sub_title .help_collap_icon{
	padding-left: 8px;
	padding-right: 8px;
}
#helpmodal a:hover{
	color: #F8BF60;
}
[data-toggle="collapse"][aria-expanded="true"] .rotate-icon
{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}
.prob_desc,
.prob_title{
	background: #282a30;
	padding: 0.4vw;
	margin-bottom: 10px;
	font-size: 0.625vw;
	font-family: 'Montserrat-SemiBold-MULTIPLER' !important;
}
.prob_desc{
	color: #a3a09b;
}
.prob_menu_section{
	background: #282a30;
	padding: 0.4vw;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.8vw;
}
.prob_menu{
	font-size: 0.8vw;
	color: #a3a09b;
}
.prob_title{
	display: inline-block;
}
#provably_section .nav-link.active{
	text-decoration: underline;
	text-underline-position: under;
}
.result_main_part{
	width: 60%;
	margin: auto;
}
.result_title{
    border: 2px solid #F8BF60;
    border-radius: 10px;
    font-size: 0.7vw;
    padding: 0.4vw;
    margin-bottom: 10px;
}
#provably_section{
	height: 100%;
	overflow-y: hidden;
}
#result_section,
#exp_section{
	overflow-y: scroll;
	height: 91%;
}
.shoot_part{
	border-radius: 10px;
	border: 2px solid black;
	background-color: rgba(0,0,0,0.4);
	position: relative;
	margin-bottom: 15px;
	background-image: url(../images/shoot.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center;
}
.single_normal{
	font-size: 1.2vw;
}
.center_result{
	font-size: 3.9vw;
}
.seed_detail{
	text-align: left;
}
.version_table,
.seed_calc_table{
	width: 100%;
}

.seed_calc_table{
	color:white;
}
.seed_calc_table tr td:first-child{
	width: 1vw;
}
.seed_calc_table tr td:last-child{
	text-align: right;
}
.seed_calc_table tr td:first-child,
.seed_calc_table tr td:nth-child(2){
	text-align: left;
}
#help_section,
#exp_section{
	padding-right: 5px;
}
.bonus_term{
	font-size: 0.5vw;
	padding-bottom: 0.5vw;
}
#level_circel_prog canvas{
	width: 100%;
	height: 100%;
	margin-top: -85%;
}
.account_mainbody{
	height: 640px;
	overflow-y: hidden;
}
.accept_gif_body{
	width: 100%;
	height: auto;background-color: #191e24; position: relative;border: 2px solid;border-radius: 40px;
	padding-bottom: 45px !important;
}
.accept_modal_decline_btn,
.accept_modal_accept_btn{
	float: left;width: 50%;
}
.signup_bonus_term{
	color:rgba(248,191,96,0.2);
}
input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px #F8BF60 inset;
	transition: background-color 5000s ease-in-out 0s;
}
.login_valid{
	padding-left: 12%;
	margin-top: 5px;
	display: none;
	color: #bd2929;
}
.signup_valid{
	color: #bd2929;
	margin-top: 3px;
	padding-left: 12%;
	width: 88%;
	display: none;
}
.security_valid{
	color: #bd2929;
	width: 77%;
	padding-left: 5px;
	display: none;
	text-align: left;
	margin: auto;
	margin-top: 3px;
}
#preference,
#security{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.fa_desc{
	margin-top: 16px;
}
.ignore_user{
	height: 90%;
}
.transaction_table{
	height: 80%;
}
.qr_code_section{
	width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.security_title{
	font-size: 35px;
}
.security_desc{
	font-size: 20px;
}
.close_btn label{
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	left: 630px;
	margin-left: 20px;
	top: 0;
	line-height: 1;
}
.signup_close_btn label{
	left: 100% !important;
}
.show_pwd{
	font-size: 20px;
    position: absolute;
    right: 40px;
    top: 50px;
    cursor: pointer;
}
@media screen and (min-width: 2100px){
	.bonus_spin_title {
	    font-size: 45px;
	    line-height: 1;
	}
	.bonus_spin_cnt {
	    font-size: 25px;
	    line-height: 1;
	}
	.spin_mul{
		font-size:26px;
	}
	.bonus_win .win_multipler span{
		font-size:120px !important;
	}
	.bonus_win_cong,
	.bonus_win_won,
	.bonus_win_free{
		font-size: 60px;
	}
	.bonus_win_cong{
		margin-bottom: 50px;
	}
	.bonus_win_free{
		margin-top: 100px;
	}
	.remain_cnt{
		font-size: 20px;
	}
	.accept_gif_body{
		height: 560px;
	}
	.accept_modal_decline_btn{
		left: 22%;
	}
}
@media screen and (max-width: 2000px){
	#onlineusers{
		width: calc(100% - 6.45vw);
	}
	.russian_roulette_players{
		font-size: 11px;
		height: 20px;
	}
	.chat_btn_section{
		width: 6.45vw;
	}
	.top_winners_list .small{
		font-size: 11px;
	}
	.top_winners_list i{
		font-size: 11px;
	}
	.top_winner_cylinder{
		width: 11px;
	}
	.top_winners_list{
		height: 22px;
	}
	.level-icon{
		top: 12%;
	}
}
@media screen and (max-width: 1950px){
	.personal-level-part{
		height: 184px;
		padding: 3.75px 0 19.25px;
	}
	.level-mark-part span{
		font-size: 19.5px;
	}
}
@media screen and (max-width: 1800px){
	.brag_describe{
		font-size: 10px;
	}
	.signup_modal_section {
	    max-width: 620px !important;
	}
	.signup_modal_body{
		border: 2px solid #F8BF60;
	}
	.signup_modal1_top_left{
		padding-top: 10px;
	}
	.login_modal_logo img,
	.signup1_modal_logo img{
		height: 55px;
	}
	#signupmodal1 .login_modal_log_desc,
	#signupmodal2 .login_modal_log_desc{
		font-size: 12px;
	}
	.welcome_user{
		font-size: 25px;
		margin-bottom: 0;
	}
	.login_signup span{
		font-size: 18px;
	}
	.form-control-placeholder {
		left: 15%;
		top: 28px;
		font-size: 18px;
	}
	.signup_service {
	    font-size: 9px;
	    margin-left: 15px;
	    margin-top: 14px;
	}
	.squaredThree label {
		width: 13px;
		height: 13px;
	}
	.squaredThree label:after {
		top: 3px;
		left: 2px;
	}
	.login_btn{
		padding: 11px 0;
    	font-size: 20px;
	}
	.signup_label{
		font-size: 14px;
	}
	.signup_modal1_top_right{
		padding: 10px;
	}
	.singup_star{
		font-size: 35px;
	}
	.welcome_bonus{
		font-size: 15px;
		margin-top: 20px;
	}
	.x2{
		font-size: 100px;
	}
	.signup_bonus{
		font-size: 20px;
	}
	.signup_describe{
		font-size: 10px;
		margin-top: .5rem;
	}
	.bonus_term{
		font-size: 10px;
	}
	.top_player_info{
		width: 41%;
	}
	.top_player_wager{
		width: 25%;
	}
	#level_circel_prog canvas{
		margin-top: -89%;
	}
	.level-icon{
		top: 10%;
	}
	.top_header_left_menu{
		font-size:15px;
		padding-top: 13px;
	}
	.top_header_btn{
		font-size: 15px;
		padding: 2px 13px;
		margin-top: 9px;
	}
	#header_depositbutton{
		font-size: 15px;
		padding: 0 10px;
		margin-top: 12px;
	}
	.signup_valid{
		font-size:10px;
	}
	.squaredThree{
		margin-top: 7px;
	}
	.signup_service{
		margin-top: 0px;
	}
	.button-second-section{
		margin-top: 15px;
	}
	.signup_label{
		margin-top: 25px;
	}
	.inputbox_desc{
		font-size: 15px;
	}
	.signup_input{
		font-size: 20px;
		padding: 5px 0 5px 10px;
	}
	.signup_show_password{
		font-size: 15px;
		top: 43px;
	}
	.login_modal_body{
		width: 450px;
		border: 2px solid #f8bf60;
	}
	
	#accountmodal .modal-dialog-centered{
		width: 600px;
	}
	#accountmodal .modal-content{
		padding: 10px !important;
	}
	#accountmodal .modal-header{
		margin-bottom: 5px;
	}
	.account_margin_top_10{
		margin-top: 5px;
	}
	.account-header1{
		height: 40px;
		line-height: 40px;
		font-size: 12px;
	}
	.account-header2{
		height: 40px;
		line-height: 40px;
		font-size: 20px;
	}
	#accountmodal .welcome{
		font-size: 20px;
	}
	#accountmodal .nav.nav-tabs li.nav-item{
		margin: 10px;
		line-height: 10px;
		font-size: 15px;
	}
	.account_history_header_text{
		font-size: 15px;
		margin-bottom: 4px !important;
		margin-top: 4px !important;
	}
	.security_long{
		padding: 13px 0 12px 10px;
		font-size: 16px;
	}
	.security_btn{
		padding: 9px 0;
		font-size: 16px;
	}
	.account_mainbody{
		height: 430px;
	}
	.security_top {
		margin-top: 13px;
	}
	.fa_copy_code{
		font-size: 14px;
		margin-top: 10px !important;
		margin-bottom: 5px;
	}
	.auth_code{
		font-size: 13px;
		width: 365px;
	}
	.fa2_copy{
		right: 27%;
		top: 8px;
	}
	.auth_reg_btn{
		font-size: 21px;
	}
	.fa_desc{
		font-size: 10px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.qr_image{
		width: 70px;height: 70px;
	}
	.fa_password{
		font-size: 15px;
		margin-top: 8px;
	}
	.fa_enable{
		padding: 8px 0;
		font-size: 17px;
		margin-top: 8px;
	}
	#preference .squaredPre{
		margin-top: 4px;
		margin-left: 19%;
	}
	.preference_btn{
		padding: 7px 0;
		font-size: 18px;
	}
	.ignored_user_list label{
		padding-top: 3px;
	    height: 30px;
	    font-size: 15px;
	    margin-bottom: 4px;
	}
	#ignored_user .mt-2,
	#transaction .mt-2{
		margin-bottom: 4px !important;
		margin-top: 4px !important;
	}
	#transaction .mr-1{
		margin-right: 2px !important;
	}
	#transaction .ml-1{
		margin-left: 2px !important;
	}
	.account_history_header_title{
		font-size: 13px;
		width: calc(calc(100% - 1.75rem)/6);
	}
	.account_bet_history label{
		font-size: 11px;
		height: 30px;
		padding-top: 7px;
		margin-bottom: 5px;
	}
	.account_time{
		font-size: 8px !important;
	    padding-top: 3px !important;
	}
	.account_setting_part_1 label{
		font-size: 16px;
	}
	.security_title{
		font-size: 25px;
		margin-bottom: 8px;
	}
	.security_desc{
		font-size: 15px;
		margin-bottom: 8px;
	}
	.login_desc{
		width: 450px;
	}
	.close_btn label{
		left: 450px;
		font-size: 20px;
	}
	#accountmodal .signup_input_section{
		width: 75%;
	}
	.show_pwd{
		right: 35px;
		top:38px;
		font-size: 17px;
	}
}
@media screen and (max-width: 1750px){
	#speedregisterregion{
		height: 215px;
	}
	.reg_instant{
		font-size:19px;
		padding: 7px 0;
	}
	.reg_instant_input{
		height: 52.5px;
	}
	.reg_instant_input input{
		margin-top: 22.7px;
		font-size: 14px;
		padding: 10px 0 3px 9px;
	}
	.reg_instant_btn{
		height: 28px;
	}
	#speedregisterbutton{
		margin-top: 17.5px;
		padding: 10.5px;
		font-size: 15px;
	}
	.reg_instant_desc{
		font-size: 10px;
		padding: 21px 3.5px 0;
	}
	.form-control-left{
		font-size: 15.8px;
		top: 6px;
	}
}
@media (max-width: 1700px) and (min-width: 1601px){
	.bonus_win_cong,
	.bonus_win_won,
	.bonus_win_free{
		font-size:30px;
	}
	.bonus_win_cong{
		margin-bottom: 0px;
	}
	.bonus_win .win_multipler span{
		font-size:70px !important;
	}
	.bonus_win_left,
	.bonus_win_right{
		font-size:15px;
	}
	.count_time span.each_result{
		font-size:70px;
	}
	.spin_mul{
		font-size:11px;
	}
	.curwager_desktop{
		font-size:30px;
	}
	.layout_2 .footer-3 .cost{
		margin-top:0px;
		font-size: 28px;
	}
	.bonus_win_won{
		margin-bottom:40px;
	}
	.layout_2 .bonus_spin_title{
		font-size:29px;
	}
	#helpmodal .modal-dialog{
		max-width: 30% !important;
	}
}
@media screen and (max-width: 1620px){
	.brag_describe{
		font-size: 9px;
	}
	.brag_top_section{
		height: 130px;
	}
	.brag-menu{
		top: calc(100% - 470px);
	}
}
@media screen and (max-width: 1600px){
	.stop_play{
		margin-top:5px;
	}
	.remain_cnt{
		padding-top:2px;
	}
	.win_multi_title div{
		font-size:12px;
	}
	.font-size-20{
		font-size:12px;
	}
	.top_header_logo{
		width:130px;
	}
	.top_header_withdraw{
		padding-right:6px;
	}
	.count_time span.each_result{
		font-size:50px;
		text-shadow: 0px 2px 1px #a6824a;
	}
	.footer-icon{
		margin: auto;
	}
	.top_player_win{
		padding-right:0px;
	}
	#expcur,
	#exptot,
	#expnxt{
		font-size:12px;
		top:7px;
	}
	.top_player_list{
		font-size:12px;
	}
	.left-menu-icon{
		font-size:12px;
	}
	.gun_shot_image{
		height: 100%;
	}
	.bonus_win_cong,
	.bonus_win_won{
		font-size:30px;
	}
	.bonus_win_free{
		font-size:30px;
		margin-top: 60px;
	}
	.bonus_win .win_multipler span{
		font-size:70px !important;
	}
	.bonus_win_right {
		right:7px;
	}
	.bonus_win_bottom{
		bottom:10px;
	}
	.layout_2 .spin_btn .font-size-30{
		font-size:15px;
	}
	.layout_2 .layout_2_play_section{
		padding:5px 3px;
	}
	.spin_mul{
		font-size:11px;
	}
	.info_modal_table tbody tr td:nth-child(2){
		padding: 10px;
	}
	
	.footer_center .cost.fa-gem{
		margin-top: 0px;
	}
	.footer-3{
		padding: 5px;
	}
	.bonus_spin_title{
		font-size:25px;
	}
	.bonus_spin_cnt{
		font-size:15px;
	}
	.layout_3 .autoplay_spin {
	    top: -134px;
	}
	.chattext{
		line-height:27px;
	}
	.chat_emo{
		margin-top: 4%;
	}
	.chat-header-part img{
		height: 29px;
	}
	.chat-header-part{
		height: 45px;
	}
	.left-menu-chat-label{
		font-size: 9px;
	}
	.modal-text p{
		font-size: 11px;
	}
	.modal-text{
		margin-bottom: 0px;
	}
	.small{
		font-size: 70%;
	}
	.login_modal_logo{
		margin-top: 20px;
	}
	.login_modal_footer{
		font-size: 15px;
		margin-top: 15px;
	}
	.award-section{
		font-size:20px;
	}
	.bodypart1-side span{
		font-size: 16px;
	}
	.top_player_info{
		width: 39%;
	}
	.top_player_wager{
		width: 27%;
	}
	.gift_modal{
		width: 500px;
	}
	.gift_modal_title{
		font-size: 20px;
		padding:6px 0;
	}
	.gift_modal_desc{
		font-size: 16px;
		margin-top: 10px;
	}
	.gift_modal_desc1{
		padding-bottom: 10px;
	}
	.square-orange-btn{
		padding: 5px 10px;
		font-size: 16px;
	}
	.gift_gun{
		width: 40px;
	}
	.play_desc{
		padding-left: 17%;
	}
	.squaredCheck{
		margin-left: 24%;
	}
	.chceck_part{
		padding-bottom: 50px;
	}
	.gift_bottom{
		padding-bottom: 25px;
	}
	.gift_service{
		font-size: 12px;
	    left: 140px;
	    top: 14px;
	}
	#button-to-final{
		padding: 10px 150px;
    	font-size: 16px;
	}
	.top_header_left_menu{
		font-size: 12px;
    	padding-top: 7px;
	}
	.top_header_btn{
		font-size: 12px;
	    padding: 0px 13px;
	    margin-top: 8px;
	    -moz-box-shadow: 0px 3px 0px 0px #9F804A;
	    -webkit-box-shadow: 0px 3px 0px 0px #9F804A;
	    box-shadow: 0px 3px 0px 0px #9F804A;
	}
	#header_depositbutton{
		font-size: 12px;
		margin-top: 7px;
		-moz-box-shadow: 0px 3px 0px 0px #9F804A;
	    -webkit-box-shadow: 0px 3px 0px 0px #9F804A;
	    box-shadow: 0px 3px 0px 0px #9F804A;
	}
	#logout-cancel,
	#logout-accept{
		font-size: 16px;
		padding: 7px 25px;
	}
	.accept_gif_body{
		padding-bottom: 30px !important;
	}
	.login_valid{
		font-size: 12px;
	}
}
@media screen and (max-width: 1580px){
	#onlineusers{
		width: 113px;
		font-size: 11px;
	}
	.chat_btn_section{
		width: 110px;
	}
	.chat_btn_section a,
	#onlineusers i{
		font-size: 11px;
	}
}
@media screen and (max-width: 1540px){
	.footer-1{
		width: 255px;
	}
	.player_icon{
		font-size: 12px;
	}
}
@media screen and (max-width: 1500px){
	.help_sub_title, .help_title {
	    font-size: 12px;
	    padding: 6px;
		margin-top: 6px;
		word-break: break-word;
	}
	.help_sub_desc{
		font-size: 12px;
		padding: 6px;
		margin-top: 6px;
		word-break: break-word;
	}
	.prob_menu{
		font-size: 12px;
	}
	.prob_desc, .prob_title{
		font-size: 12px;
	    padding: 6px;
		margin-bottom: 6px;
		word-break: break-word;
	}
	.help.nav.nav-tabs li.nav-item{
		font-size: 16px;
	}
	#helpmodal .modal-header{
		padding: 0.5rem;
	}
	.result_title{
		padding: 6px;
		font-size: 12px;
	}
	.result_main_part {
		width: 70%;
	}
	.single_normal{
		font-size: 16px;
	}
	.center_result{
		font-size: 55px;
	}
	#helpmodal .modal-dialog{
		max-width: 33% !important;
	}
}

@media screen and (max-width: 1400px){
	.layout_2 .bonus_spin_title{
		font-size:20px;
	}
	.layout_2 .bonus_spin_cnt{
		font-size:12px;
	}
	.bonus_wait, .bonus_wait1{
		font-size:0.9vw;
		margin-left: -1.5vw
	}
	.bodypart1-side span{
		font-size: 1.2vw;
	}
	.top_header_left_menu{
		font-size: 15px;
	}
	.left-side-chat{
		line-height: 1vw;
	}
	.top_player_rank{
		width: 7%;
	}
	.bodypart2-3-child-2{
		width: 25%;
	}
	.bodypart2-3-child-3{
		width: 29%;
	}
	.bodypart2-3-child-1{
		width: 46%;
	}
	.max_bet_btn{
		font-size: 14.5px;
	}
	.play_btn{
		font-size: 28px;
	}
	.spin_btn span .fa-sync-alt{
		font-size:22.4px;
	}

}

@media screen and (max-width: 1500px){
	.round_result span img{
		width: 16px;
    	height: 19px;
    	margin-top: 8px;
	}
	.top_header_logo{
		width:110px;
	}
	#levelpart1,
	#levelpart2{
		font-size:12px;
	}
	#depositbutton{
		margin-bottom: 19px;
    	font-size: 10px;
	}
	.top_header_logo{
		width:100px;
	}
	#expcur, #exptot, #expnxt{
		font-size:12px;
		top:9px;
	}
	.tier-section{
		font-size:13px;
	}
	.level-section{
		font-size:12px;
	}
	.reward-earning-part label{
		font-size:9px !important;
		width: 100%;
	    
	    margin-bottom: 0;
	}
	.account_setting_part.mt-2{
		font-size:12px;
	}
	.bonus_spin_title{
		font-size: 22px;
	}
	.bonus_spin_cnt{
		font-size: 15px;
	}
	#status{
		margin-top:2px !important;
	}
	.gun_shot_image{
		display:none;
		width:100%;
	}
	.bonus_win_right{
		right: 8px;
	}
	.bonus_win_bottom {
		bottom:10px;
	}
	.remain_cnt{
		padding-top: 0px;
	}
	.stop_play{
		margin-top:0px;
	}
	.bonus_wait_css{
		line-height: 60px;
	}
	
	.footer_center .cost.fa-gem{
		margin-top: 0px;
	}
	.layout_2 .footer-3 .cost{
		margin-top:0px;
	}
	.layout_2 .bonus_spin_title{
		font-size:23px;
	}
	.layout_2 .bonus_spin_cnt{
		font-size:12px;
	}
	.stop_button{
		font-size:13px;
	}
	.remain_cnt{
		font-size: 12px;
		margin-top: 2px;
	}
	.left_mul.new, .right_mul.new, .center_mul.new{
		line-height: 20px;
	}
	#helpmodal .modal-dialog{
		max-width: 45% !important;
	}
}
#counter_section{
	position:absolute;
	transform: translate(-50%,-50%)!important;
	top:50%;
	left:50%;
	font-family: 'Montserrat-Countup';
}
@media screen and (max-width: 1400px){
	.autoplay_spin{
		top: -138px;
	}
	.autoplay_spin{
		width: 44px;
		right: 5.6px;
	}
	.layout_2 .autoplay_spin{
		width: calc(24% - 4px);
		right: 0.4vw;
	}
	.counter>span,
	.counter_title span{
	    text-shadow: 0px 1px #a48050,0px 2px #a48050,0px 3px #a48050,0px 4px #a48050;
	}
	.russian_roulette_players{
		font-size: 9px;
	}
	.top_winner_cylinder{
		width: 12.3px;
	}
	.russian_roulette_players{
		height: 16px;
	}
	#security .margin_top{
		margin-top: 50px;
	}
	.account_setting_part_1 input{
		margin-top: 5px;
	}
	.account_bet_history label:nth-child(3){
		padding-top: 5px !important;
	}
}
@media screen and (max-width: 1330px){
	.footer-icon{
		padding-top: 0.6vw;
	}
}
@media screen and (max-width: 1300px){
	.curwager_desktop{
		font-size: 1.7vw;
	}
	.footer_center .cost, .layout_2 .footer-3 .cost{
		font-size:1.7vw
	}
	.bonus_wait, .bonus_wait1 {
	    margin-left: -1.5vw;
	    font-size: 0.8vw;
	}
	.layout_2 .bonus_spin_cnt_section{
		margin-top: 2px;
	}
	.bonus_spin_cnt_section{
		margin-top: 0px;
	}
	.spin_mul_title{
		line-height: 1.5;
	}
	#helpmodal .modal-dialog{
		max-width: 60% !important;
	}
}
@media screen and (max-width: 1200px){
	.layout_2 .bonus_spin_title{
		font-size:18px;
	}
	.footer-icon{
		padding-top: 0.5vw;
	}
	.curwager_desktop{
		font-size: 1.4vw;
		line-height: 1.5;
	}
	.footer_center .cost, .layout_2 .footer-3 .cost{
		font-size:1.4vw;
		line-height: 1.5;
	}
	.layout_2 .padding_right_30.curwager-section{
		padding-left: 1.5vw !important;
	}
	
	.layout_2 .autoplay_spin li{
		font-size: 10px;
	}
	.layout_2 .autoplay_spin{
		top: -116px;
	}
	.footer-1 {
	    width: 155px;
	}
	.footer-3{
		min-width: 150px;
		width: 150px;
	}
	.bonus_spin_title{
		font-size: 18px;
	}
	.bonus_spin_cnt{
		font-size: 12px;
	}
	.bonus_wait{
		font-size: 1vw;
		margin-left: -2vw;
	}
	.bonus_wait1{
		font-size: 1vw;
		margin-left: -2.5vw;
	}
	.layout_2 .bonus_wait1{
		margin-left: -3vw;
	}
	.layout_3 .bonus_spin_cnt_section{
		margin-top: 0;
	}
	.max_bet_btn{
		font-size: 11px;
	}
	.play_btn{
		font-size: 23px;
	}
}
@media screen and (max-width: 1150px){
	.footer-icon{
		padding-top: 0.3vw;
	}
	.normal_round{
		line-height: 2.3;
	}
}
@media screen and (max-width: 1100px){
	.win_multi_title{
		line-height: 1.5;
		font-size: 10px;
	}
	.win_multipler span{
		font-size: 1.3vw;
	}
}
@media screen and (max-width: 1080px){
	.bodypart1-2{
		background-size: 6vw;
	}
	.group_game{
		margin-top: 4%;
		margin-left: 1%;
	}
	.solo_game{
		margin-top: 4%;
		margin-right: 1%;
	}
}
@media screen and (max-width: 1050px){
	.adv_login_btn{
		font-size: 1vw;
	}
}
@media screen and (max-width: 1023px){
	.win_multi_title div{
		font-size:16px;
	}
	.bodypart1-side,
	.bodypart2-1,
	.bodypart2-3,
	.player_list,
	.top_player_list,
	.footer-1,
	.top_header_left_menu,
	#speedregisterregion,
	.chat-header-part,
	.personal-level-part,
	#status,
	#header_depositbutton,
	.play_bottom_part,
	.spin_btn,
	.left-side,
	.before_login,
	.group_game,
	.solo_game,
	.left-side1{
		display:none !important;
	}
	.bodypart1-2,
	.bodypart2-2,
	.bodypart3-2{
		width: 100% !important;
	}
	.group_game_mobile,
	.solo_game_mobile{
		display: block;
	}
	.before_login_mobile{
		display: block;
	}
	#mainboard{
		width:100% !important;
		margin-left:0px;
		height: 100%;
	}
	#bodypart3{
		height: auto !important;
	}
	section.container-fluid{
		padding:0 !important;
	}
	.top_header_logo{
		width:35%;
		top: 3px;
	}
	.bodypart1-2,
	.bodypart2-2,
	.bodypart3-2{
		margin-left:0px;
	}
	.bodypart1-2{
		height:40px;
	}
	.footerbody{
		width:100%;
	}
	.footer-3{
		width:100%;
		margin-top:5px;
		background-color: #282A30;
		height: 10.5vh;
	}
	.footer_center .cost, .curwager_desktop{
		font-size:25px;
		margin-top: 0px;
	}
	.curwager-section{
		border-right:none;
	}
	.footer_desktop_3{
		display:none;
	}
	.mobile-spin-side{
		font-size:16px;
		color:black;
		width:25%;
	}
	.spin_btn_mobile{
		background-color: #F8BF60;
	    border-radius: 50%;
	    width: 50px;
	    height: 46px;
	    margin-top: -10px;
	    padding: 7.5px;
	    text-align: center;
	    -moz-box-shadow: 0px 5px 0px 0px #9F804A;
	    -webkit-box-shadow: 0px 5px 0px 0px #9F804A;
	    box-shadow: 0px 5px 0px 0px #9F804A;
	    cursor: pointer;
	    font-size: 31px;
	    margin:auto;
	    margin-top: -11px;
	    padding: 0.5px;
	}
	.left-side-mobile{
		width: 100%;
    	display: block;
	}
	.chattext{
		width: calc(100% - 60px);
		padding:0px;
	}
	.dropdown{
		font-size:18px;
		padding-top: 0px;
	}
	.chat_emo{
		width:60px;
	}
	.small{
		font-size:80%;
	}
	ul.dropdown-menu{
		left:-235px;
	}
	.round_result span img{
		width:25px;
		height: 27px;
		margin-top: 5px;
	}
	.mobile-spin-icon{
		display: inline-block;
	}
	.mobile-spin-section{
		display:flex;
	}
	.count_time span.each_result{
		font-size:100px;		
	}
	.nav-link{
		/*width:90px;*/
	}
	.font-size-20{
		font-size:16px;
	}
	#revolver{
		background-size:60% auto;
	}
	.top_header_center_title{
		margin-top:0;
	}
	.modal_close_btn{
		width:50%;
	}
	.signup_bonus{
		font-size:20px;
	}
	.welcome_bonus{
		font-size:15px;
	}
	.singup_desc{
		margin-top:130px;
	}
	.login_modal_logo{
		margin-top:10px;
	}
	.signup_modal1_footer_section label{
		font-size:12px;
	}
	.more_btn{
		display: block;
		margin-left: 15px;
		font-size: 27px;
	}
	.top_header_left_menu{
		display: none;
	}
	.depositmodal_decline,
	.depositmodal_activate{
		font-size:12px;
	}
	.round_result_text{
		font-size: 15px;
	}
	.top_header {
		height: 40px;
		background-image: url('../images/rrlogo.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 30px;
	}
	#bodypart1{
		height: 40px;
	}
	
	.bodypart2-2{
		height: 30px;
	}
	.mobile-spin-section{
		width: 100%; 
		text-align: center;
		line-height: 100%;
	}
	.footer_center .title{
		margin-top: 0;
	}
	.gun_shot_image{
		margin-top:0px;
	}
	.round_result img{
		margin-top: 3px;
	}
	.footer_center .title{
		padding-top: 5px;
	}
	.round_result{
		padding-top:0px;
	}
	.round_result_bonus{
		font-size: 10px;
	}
	.spin_multipler span{
		font-size: 15px;
	}
	.bonus_wait_css{
		line-height: 60px;
	}
	.bonus_wait, .bonus_wait1{
		margin-left: -10px;
	}
	.gun_shot_image{
		width:auto;
	}
	.top_header_btn{
		border-radius: 0px;
		font-size: 16px;
		padding-top: 7px;
		padding-bottom: 6px;
	}
	#bodypart1{
		margin-top:0px;
	}
	.footer{
		display: none !important;
	}
	.footer_mobile{
		display: flex;
	}
	.footer_mobile .footerbody{
		height: 45px;
		background-color: #282A30;
		margin-top: 5px;
		width: 100% !important;
	}
	.mobile_wager_section{
		width:33%;
		float:left;
		padding:5px 20px;
	}
	.mobile_wager_body{
		background: #191e24;width:100%;height: calc(100% - 5px);box-shadow: 0px 5px #20242a;
	}
	.mobile_wager_icon_1{
		width:33px;float:left;
	}
	.mobile_wager_icon_2{
		width:calc(100% - 58px);float:left;margin-top:4px;
	}
	.mobile_wager_icon_3{
		width:21px;float:left;
	}
	.last_icon{
		margin-top:8px;
	}
	.first_icon{
		opacity: 0.2;margin-top:7px;margin-left:8px;
	}
	.mobile_gem_data,
	.mobile_spin{
		display: flex;
	}
	.round_result_section{
		line-height:30px;
	}
	.bonus_win_cong{
		margin-bottom: 0;
		line-height: 0;
	}
	.bonus_win_won{
		margin-bottom: 0;
		line-height: 0;
	}
	.bonus_win_free{
		line-height:0;
		margin-top: 15px;
	}
	.bonus_spin_result .bonus_win{
		font-size:0;
	}
	.info_body{
		width: 70%;
	}
	.round_result_section_bonus{
		width: 60px;
	}
	#chatbox{
		border: none;
		border-radius: 0;
		border-top: 1px solid #F8BF60;
		margin: 1px !important;
		padding-top:14px !important;
		padding-bottom:12px !important;
		height: 49px;
	}
	.info_body{
		width: 50%;
		margin: auto;
		margin-top: 10vh;
	}
	.levelpart-section{
		height: 25px;
		padding-top: 0px;
	}
	#exppart{
		height:25px;
	}
	#expcur, #exptot, #expnxt{
		top: 4px;
	}
	.spin_mul_title,
	.win_multi_title{
		height: auto !important;
		font-size: 8px;
	}
	.win_multipler{
		height: auto;
	}
	.round_result{
		height: 30px;
	}
	.round_result_section_bonus{
		padding-top: 0px;
	}
	#accountmodal .welcome{
		font-size: 18px;
	}
	#accountmodal .nav.nav-tabs li.nav-item{
		font-size:12px;
		line-height: 100%;
		margin: 7px;
	}
	.account-title{
		font-size: 13px;
	}
	.account_setting_part_1 input{
		margin-right: 10px;
	}
	.chat_emo{
		margin-top: 0px;
	}
	#helpmodal .modal-title{
		font-size: 25px;
	}
	#helpmodal .modal-dialog{
		max-width: 60% !important;
	}
	.help_title{
		margin-bottom: 5px;
		padding: 5px;
	}
	#helpmodal .modal-header{
		padding: 8px;
	}
	.modal_close_btn{
		font-size: 13px;
	}
	.chattext{
		line-height: 22px;
	}
	.reward-section label{
		font-size: 15px;
	}
	.account_history_header_text{
		font-size: 12px;
	}
	.account_history_header_title{
		font-size: 12px;
	}
	.account_bet_history label{
		padding-top: 6px;
	    height: 30px;
	    font-size: 8px;
	}
	.account_bet_history label:not(:nth-child(3)){
		padding-top: 8px;
	}
	.account_bet_history>.account_time{
		font-size: 7px!important;
	}
	.account_setting_part{
		padding: 5px 0;
	}
	.win_multipler span{
		line-height: 0;
		font-size: 17px;
	}
	.round_result img{
		width: 21px;
		height: 25px;
	}
	.counter>span,
	.counter_title span{
		display: table-cell;
	    vertical-align: middle;
	    text-shadow: 0px 1px #a48050,0px 2px #a48050,0px 3px #a48050,0px 4px #a48050,0px 5px #a48050;
	}
	.bonus_spin_result .bonus_win{
		text-shadow: 0px 1px #000, 0px 2px #000, 0px 3px #000, 0px 4px #000;
	}
	.left-side-mobile .nav.nav-tabs li.nav-item{
	    margin: 6px;
	    width: auto;
	    background: #282a30;
	    border-radius: 6px;
	    line-height: 16px;
	    display: inline-block;
	}
	.left-side-mobile .nav.nav-tabs li.nav-item div{
		padding: 4px 6px;
	    border-radius: 6px;
	    font-size: 13px;
	}
	.left-side-mobile .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
		color: black;
	}
	.left-side-mobile .nav.nav-tabs li.nav-item > .active{
		background: white;
	}
	
	#depositbutton{
		border-radius: 0px;
		padding: 5px 10px;
		box-shadow: 0px 3px 0px 0px #9F804A;
		-moz-box-shadow: 0px 3px 0px 0px #9F804A;
    	-webkit-box-shadow: 0px 3px 0px 0px #9F804A;
	}
	.reward_each_menu_section{
		width: 100%;
		padding: 5px 10px;
	}
	.table_section{
		font-size: 12px;
		height: 130px;
		padding-top: 0px;
	}
	#accountmodal .nav.nav-tabs li.nav-item div{
		padding: 0;
	}
	#rewardmodal .modal-dialog-centered
	{
		height: 80vh;
		margin-top: 10vh;
		max-width: 80%;
	}
	#rewardmodal .modal-content{
		padding: 10px;
	}
	#rewardmodal .modal-header{
		padding: 0.5rem;
	}
	#rewardmodal .modal-title{
		font-size: 20px;
	}
	.reward-desc{
		padding: 0.5rem;
	}
	.reward-campaign-input{
		display: block;
		text-align: center;
		margin: auto;
		width: 70%;
	}
	.create_camp{
		margin-left: 0%;
	}
	.collect_comission{
		font-size: 12px;	
	}
	#campaign table tr td {
	    padding: 2px 0;
	}
	.campaign_copy{
		top: 5px;
	}
	#campaign table tr td,
	.campaign_link{
		font-size: 10px;
	}
	.reward-earning-part{
		height: 34px;
	    padding-top: 1px;
	    line-height: 1;
	}
	#rewardmodal .reward-earning-part label:first-child{
		font-size: 13px !important;
	}
	.reward_mark{
		font-size: 15px;
	}
	.reward_mark_section{
		height: 30px;
	}
	.reward-campaign-input-r{
		margin-top: 8px !important;
	}
	.reward-compain-section2{
		padding-top: 20px;
	}
	#rewardmodal .reward-section p{
		font-size: 10px;
	}
	.circle_6{
		margin-left: calc(100% - 55px);
	}
	.bodypart1-2{
		background-size: 115px;
	}
	.before_login_adv{
		width: 90%;
		height: 80%;
		margin: auto;
		margin-left: 5%;
		background: none;
	}
	.gem_table tr td{
		font-size: 4vw;
		width: 20%;
	}
	.before_login_x2{
		font-size: 8.3vw !important;
		line-height: 100%;
		text-shadow: 0px 1px #a48050,0px 2px #a48050,0px 3px #a48050,0px 4px #a48050;
	}
	.before_login_adv .welcome label{
		font-size: 3.5vw;
		margin-top: 5vw;
	}
	.before_login_adv .describe{
		font-size: 7.5vw;
		margin-bottom: 0;
	}
	.before_login_adv .btn_section{
		display: flex;
		padding: 2vw;
	}
	.gem_table tr td i{
		text-shadow: 2px 1px black;
	}
	.bodypart1-2{
		background-image: none;
	}
	.bonus_term{
		padding-bottom: 10px;
		font-size: 12px;
	}
	.signup_describe{
		font-size: 12px;
	}
	.before_login_adv .btn_section .each_part textarea{
		font-size: 3vw;
		padding-left: 1vw;
		padding-top: 3vw;
		height: 8vw;
	}
	.adv_login_btn{
		padding: 1.5vw 1.3vw;
		font-size: 3vw;
	}
	svg g image{
		width: auto;
		height:100%;
	}
	#bodypart0{
		margin-top: 45px;
	}
	.spin_left_mul,
	.spin_center_mul,
	.spin_right_mul{
		margin-top: 0;
	}
	.win_multipler .roulette_wheel{
		overflow: hidden;
	}
	.form-control-adv{
		left:1vw;
		top: 2vw;
		font-size: 3vw;
	}
	/*======================whitesnow overlap win================*/
	.counter_title {
		left: 0;
	}
	.reward_close{
		width:25%;
	}
	#rewardmodal .reward-section p{
		font-size: 20px;
	}
	#rewardmodal .flexible.mt-2{
		margin-top:1rem!important;
	}
	#rewardmodal .reward_mark_section{
		height:45px;
	}
	#rewardmodal .reward-desc{
		padding:1rem 0.5rem;
	}
	.reward-compain-section1{
		padding-top:1rem;
	}
	.account-header1,
	.account-header2{
		height:25px;
		line-height: 25px;
		font-size: 12px;
	}
	.account_mainbody{
		height: 380px;
	}
	.security_long{
		font-size: 12px;
		padding: 10px 0 10px 10px;
		width: 76%;
	}
	.security_top{
		margin-top: 10px;
	}
	.new_pwd{
		width: 38% !important;
	}
	.security_btn{
		font-size: 12px;
		padding: 8px 0;
		width: 76%;
	}
	#accountmodal .modal-dialog-centered{
		width: 400px;
		margin: auto;
	}
	#accountmodal .modal-content{
		padding: 5px !important;
	}
	.fa_copy_code{
		font-size: 10px;
    	margin-top: 5px !important;
	}
	.auth_code{
		font-size: 11px;
    	width: 270px;
	}
	.fa2_copy{
		right: 24%;
	    font-size: 12px;
	    top: 10px;
	}
	.fa_desc{
		font-size: 9px;
	}
	.qr_image{
		width: 50px;height: 50px;
	}
	.fa_password,
	.fa_enable {
	    font-size: 12px;
	    padding: 5px;
	    margin-top: 5px;
	    width: 76%;
	}
	#preference .squaredPre{
		margin-top: 2px;
	    margin-right: 0px;
	    margin-left: 17%;
	}
	.account_setting_part_1{
		height: 20px;
	}
	.preference_btn{
		font-size: 12px;
		padding: 5px 0;
	}
	.ignored_user_list label{
		padding-top: 3px;
	    height: 25px;
	    margin-bottom: 4px;
	    font-size: 12px;
	}
	.account_setting_part_1 label{
		font-size: 12px;
	}
	.signup_input{
		font-size: 18px;
	}
	.security_title{
		font-size: 20px;
		margin-bottom: 0;
	}
	.security_desc{
		font-size: 12px;
		margin-bottom: 0;
	}
	.security_valid{
		font-size: 12px;
	}
	.fa_btn{
		padding: 11px 0;
    	font-size: 15px;
	}
	.auth_reg_btn {
	    font-size: 16px;
	    padding: 2px 16px;
	    margin-left: 7px;
	    box-shadow: 0px 3px 0px 0px #9F804A;
	    -webkit-box-shadow: 0px 3px 0px 0px #9F804A;
	    -moz-box-shadow: 0px 3px 0px 0px #9F804A;
	}
}
@media screen and (max-width: 930px){
	.space_btw_mul{
		padding-right: 4px;
	}
}
@media screen and (max-width: 760px){
	#rewardmodal .reward_mark_section{
		height:30px;
	}
	#rewardmodal .reward-desc{
		padding:1rem 0.5rem;
	}
	.reward-compain-section1{
		padding-top:1rem;
	}
}
@media screen and (max-width: 700px){
	#helpmodal .modal-dialog{
		max-width: 800px !important;
	}
	#signupmodal3 .gift_modal{
		margin: auto;
	}
	.gift_modal{
		width: 300px;
	}
	.gift_modal_title{
		font-size: 15px;
		padding:4px 0;
	}
	.gift_modal_desc{
		font-size: 12px;
		margin-top: 4px;
		padding-right: 0px;
	}
	.gift_modal_desc1{
		padding-bottom: 10px;
		line-height: 1;
	}
	.square-orange-btn{
		padding: 2px 10px;
		font-size: 12px;
		-moz-box-shadow: 0px 2px 0px 0px #9F804A;
	    -webkit-box-shadow: 0px 2px 0px 0px #9F804A;
	    box-shadow: 0px 2px 0px 0px #9F804A;
	}
	.play_desc label{
		margin-bottom: 0px;
	}
	.gift_gun{
		width: 25px;
	}
	.play_desc{
		padding-left: 7%;
	}
	.squaredCheck{
		margin-left: 9%;
		margin-top: 9px;
	}
	.chceck_part{
		padding-bottom: 40px;
	}
	.gift_bottom{
		padding-bottom: 25px;
	}
	.gift_service{
		font-size: 10px;
	    left: 45px;
	    top: 9px;
	}
	#button-to-final{
		padding: 10px 50px;
    	font-size: 12px;
	}
	#rewardmodal .reward-section p{
		font-size: 10px;
	}
	#rewardmodal .flexible.mt-2{
		margin-top:0.5rem!important;
	}
	.reward_mark_section{
		height:30px;
	}
	.help_collap_icon{
		margin-top: 2px;
	}
	.collapsed>div>.help_collap_icon{
		margin-top: 0.4vw;
	}
	.login_valid{
		font-size: 12px;
	}
}
@media screen and (max-width: 660px) {
	.account_bet_history label:nth-child(1){
		font-size: 9px;
	}
}
@media screen and (max-width: 650px){
	.login_modal_body,
	.login_desc{
		width: calc(100% - 10px);
	}
	.close_btn label{
		display: none;
	}
	.login_modal_log_desc{
		font-size: 14px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	.round_result_text{
	    font-size: 11px;
	    margin-top: 6px;
	}	
	.count_time span.each_result{
		font-size:50px;
	}
	.font-size-20{
		font-size:16px;
	}
	.small{
		font-size:74%;
	}
	.footer_center{
		padding-left:4px;
	}
	.singup_desc{
		margin-top:100px;
	}
	.signup_bonus{
		font-size:16px;
	}
	.welcome_bonus{
		font-size:12px;
	}
	.login_label {
		font-size:13px;
	}
	.signup_modal1_footer_section{
		width:88%;
	}
	.group_game_mobile{
		margin-left: 20px;
	}
	.solo_game_mobile{
		margin-right: 20px;
	}
	.gun_shot_image{
		width:auto;
	}
	.round_result img{
		margin-top: 3px;
	}
	.footer_mobile .footerbody{
		font-size: 12px;
	}
	.mobile_wager_body{
		padding-top:4px;
	}
	.info_body{
		width: 80%;
		margin: auto;
		margin-top: 10vh;
	}
	.modal_play_btn{
		padding: 4px 0;
	}
	#helpmodal .modal-content{
		padding: 0px 5px 12px;
	}
	.account_history_header_title label{
		font-size: 9px;
	}
	.account_bet_history label{
		font-size: 10px;
		height: 30px;
	}
	.account_bet_history label:last-child{
		padding-top: 0px;
	}
	.account_my_spin{
		font-size:11px;
		padding-top: 6px;
	}
	.account_modal_spin_section{
		height: 38px;
	}
	.account_modal_spi_btn{
		font-size: 10px;
	}
	.signup_label{
		margin-top: 3vw;
		font-size: 12px;
	}
	.singup_star{
		font-size: 5.5vw;
	}
	.signup_desc{
		font-size: 12px;
	}
	.signup_show_password{
		font-size: 12px;
	}
	.collect_comission{
		font-size: 9px;
	}
	#rewardmodal .modal-dialog-centered{
		max-width: 100%;
	}
	.squaredThree{
		margin-left: 6%;
	}
	#signupmodal2 .button-second-section{
		margin-top: 50px;
	}
	.signup_service{
		position: absolute;
		margin-top: 7px;
	}
	.signup1_modal_logo img{
		height: 35px;
	}
	#button-to-second, #button-to-third {
	    padding: 8px 20px;
	    font-size: 15px;
	}
	.squaredThree{
		margin-top: 8px;
	}
	.login_signup span{
		font-size: 14px;
	}
	.signup_valid{
		width: 100%;
	}
	.form-control-placeholder{
		font-size: 15px;
		top: 24px;
	}
	.show_pwd {
	    right: 29px;
	    top: 38px;
	    font-size: 15px;
	}
}

@media screen and (max-width: 636px){
	.account_bet_history > .account_time {
		font-size: 8px!important;
		padding-top: 3px!important;
	}
}
@media screen and (max-width: 600px){
	.account_modal_userid{
		font-size: 9px;
	}
	.account_history_header_title{
		font-size: 12px;
		margin-right: 2px !important;
	}
	.account_bet_history label{
		font-size: 8px;
		padding-top: 2px;
	}
	.account_bet_history label:nth-child(4), .account_bet_history label:nth-child(5), .account_bet_history label:nth-child(6){
		padding-top: 2px!important;
	}
	.account_time{
		padding-top: 6px !important;
		font-size: 6px !important;
	}
	.one_line{
		line-height: 26px;
	}
	#campaign table tr th:nth-child(2){
		width: 45%;
	}
	#campaign table tr th:nth-child(3){
		width: 20%;
	}
	.item_r{
		margin-right: 1.5px;
	}
	.item_l{
		margin-left: 1.5px;
	}
	.mobile_wager_section{
		padding: 5px;
	}
	.mobile_wager_body{
		padding-top: 2px;
	}
	.mobile_wager_icon_1{
		width:24px;
	}
	.mobile_wager_icon_2{
		width: calc(100% - 47px);
	}
	.footer_mobile .footerbody{
		font-size: 11px;
		height: 40px;
	}
	.before_login_adv .welcome{
		padding: 5px;
		line-height: 1;
	}
	.adv_login_btn.orange_btn{
		-moz-box-shadow: 0px 3px 0px 0px #9F804A;
	    -webkit-box-shadow: 0px 3px 0px 0px #9F804A;
	    box-shadow: 0px 3px 0px 0px #9F804A;
	}
	#logout-cancel,
	#logout-accept{
		padding: 5px 20px;
		font-size: 14px;
	}
	.logout_section{
		margin-top: 20px;
	}
	#logoutmodal .modal-dialog{
		width: 96%;
	}
	.mobile-spin-part-left-padding{
		padding-right: 20px;
	}
	.mobile-spin-part-right-padding{
		padding-left: 20px;
	}
	.accept_gif_body{
		padding-bottom: 20px !important;
	}
	.autoplay_spin_mobile, .wager_mobile{
		left: calc(75% + 18px);
		width: calc(calc(20% - 20px) + 2px);
	}
}
@media screen and (max-width: 510px){
	.mobile-spin-part-center{
		width:40%;
	}
	.mobile-spin-part{
		width:30%;
	}
	.mobile_play_btn{
		font-size:4vh;
	}
	.autoplay_spin_mobile, .wager_mobile{
		left: calc(70% + 18px);
		width: calc(calc(20%) + 2px);
	}
	#signupmodal1 .login_modal_log_desc label{
		margin-bottom: 0;
	}
}
@media screen and (max-width: 470px){
	.before_login_adv .btn_section .each_part textarea{
		font-size: 15px;
		padding-left: 5px;
		padding-top: 12px;
		height: 41px;
	}
	.adv_login_btn {
	    padding: 5px;
	    font-size: 18px;
	}
	.form-control-adv{
		left:6px;
		top: 9px;
    	font-size: 12px;
	}
	
	.squaredPre{
		margin-left: 15%;
		margin-right: -10px;
	}
}
@media screen and (max-width: 450px){
	.top_header_logo {
	    width: 43%;
	    height: 35px;
	}
	#levelpart1, #levelpart2{
		font-size:9px;
	}
	.levelpart-section{
		padding-top: 0px;
		box-shadow: 0px 3px 0px 0px #1F2329;
	}
	#expcur,
	#expnxt,
	#exptot{
		font-size: 7px;
		top: 8px;
	}
	#exptot{
		left: 48%;
	}
	.round_result span img{
		width:14px;
		height: 16px;
		margin-top: 5px;
	}
	.round_result{
		height:30px;
	}
	.footer{
		margin-top:0px;
	}
	.footer_center .cost, .curwager_desktop{
		font-size:17px;
		margin-top:0px;
	}
	.mobile-spin-side{
		font-size:16px;
	}
	.left-side,
	.left-side1{
		bottom:-65px;
	}
	#expcur{
		left:3px;
	}
	#expnxt{
		right:2px;
		text-align: right;
	}
	.footer_center .title{
		font-size:10px;
	}
	.round_result span{
		font-size:8px;
	}
	.nav-link{
		width:48px;
	}
	.font-size-20{
		font-size:11px;
	}
	.chat_title{
		font-size:6px !important;
	}
	.singup_desc{
		margin-top:50px;
		font-size:9px;
	}
	.form-control-placeholder{
		top: 21px;
	}
	#button-to-second,
	#button-to-third{
		padding: 10px 17px;
    	font-size: 15px;
	}
	.footer_center .title{
		padding-top: 10px;
	}
	.bonus_wait, .bonus_wait1{
		font-size: 11px;
	}
	.left-side-mobile .nav.nav-tabs li.nav-item.nav-item-text div{
		margin:auto;
	}
	.mobile-spin-part-left-padding{
		padding-right: 10px;
	}
	.mobile-spin-part-right-padding{
		padding-left: 10px;
	}
	.autoplay_spin_mobile,
	.wager_mobile{
		left: calc(70% + 8px);
		width: calc(calc(30% - 29px) + 4px);
	}
	.wager_mobile li{
		font-size: 11px;
	}
	#expbar-left{
		box-shadow: rgb(117, 120, 124) 0px 3px 0px 0px;
	}
	#expbar-fit{
		-moz-box-shadow: -1px 3px 0px 0px #725E3C; -webkit-box-shadow: -1px 3px 0px 0px #725E3C; box-shadow: -1px 3px 0px 0px #725E3C;
	}
	#exppart{
		-moz-box-shadow: 0px 3px 0px 0px #75787C; -webkit-box-shadow: 0px 3px 0px 0px #75787C; box-shadow: 0px 3px 0px 0px #75787C;
	}
	.spin_multipler span{
		font-size: 12px;
	}
	.spin_round .win_multipler{
		font-size: 11px;
	}
	.round_result_bonus{
		font-size: 7px;
		margin-bottom: 0px;
	}
	.round_result_section_bonus{
		padding-top:0px;
	}
	.round_result img{
		margin-top: 6px;
	}
	.account_my_spin{
		margin-right: -40px;
	}
	.account_bet_history label {
	    font-size: 7px!important;
	}
	.account_bet_history label:nth-child(1), .account_bet_history label:nth-child(2){
		padding-top: 10px;
	}
	.round_result_section_bonus{
		width: 45px;
	}
	.round_result img{
		width: 17px;
		height: 20px;
	}
	.login_modal_container{
		width: auto;
	}
	.login_modal_body{
		margin: auto;
	}
	.login_modal_footer{
		margin-top: 4.5vw;
	}
	.left-side-mobile .nav.nav-tabs li.nav-item{
		margin: 3px;
	}
	.left-side-mobile .nav.nav-tabs li.nav-item div{
		padding: 2px 4px;
		border-radius: 3px;
	}
	.nav-link{
		width: auto;
	}
	.reward-section label{
		font-size: 12px;
	}
	.reward-campaign-input{
		font-size: 10px;
		width: 90%;
	}
	.reward_mobile_camp{
		padding: 5px;
		font-size: 8px;
	}
	.collect_comission{
		padding: 5px;
		font-size: 7px;
	}
	.reward_close{
		width: 100px;
	}
	.reward_mobile_camp{
		display: block;
	    width: 80%;
	    margin: auto !important;
	}
	.reward_download_banner{
		margin-top:10px !important;
	}
	#campaign table tr td, .campaign_link{
		font-size: 8px;
	}
	#rewardmodal .nav.nav-tabs li.nav-item div{
		font-size: 11px;
	}
	#campaign table tr th{
		font-size: 10px;
	}
	.x2{
		font-size: 70px;
		text-shadow: 0px 1px #6c5736, 0px 2px #6c5736, 0px 3px #6c5736, 0px 4px #6c5736;
	}
	#loginbutton_mobile{
		font-size: 12px;
	}
	#signupbutton_mobile{
		padding: 7px;
		font-size: 12px;
		margin-right: 0px !important;
	}
	.signup_describe{
		font-size: 9px;
	}
	.prob_menu_section .help.nav.nav-tabs li.nav-item:first-child{
		width: 40%;
	}
	.prob_menu_section .help.nav.nav-tabs li.nav-item:last-child{
		width: 60%;
	}
}
@media (max-width: 1440px) and (max-height: 950px){
	.count_time, .bonus_spin_result{
		line-height:65%;
	}
	.bonus_win_cong, .bonus_win_won,.bonus_win_free{
		font-size:14px;
	}
	.bonus_win .win_multipler span{
		font-size:30px !important;
	}
}

@media (max-width: 1440px) and (max-height: 650px){
	.font-size-20{
		font-size: 11px;
	}
	.chat_title{
		font-size: 6px !important;
	}
}
@media screen and (max-width: 400px){
	.help li.nav-item:last-child{
		padding-left: 2%;
	}
	.help.nav.nav-tabs li.nav-item{
		font-size: 13px;
	}
	.group_game_mobile{
		margin-left: 10px;
		font-size:10px;
	}
	.solo_game_mobile{
		margin-right: 10px;
		font-size:10px;
	}
	.account_bet_history > .account_time{
		font-size: 6px !important;
	}
	.login_modal_logo img{
		height: 45px;
	}
	.form-control-placeholder{
		top: 21px;
	}
	#button-to-second, #button-to-third{
		padding: 5px 15px;
	}
	.signup_label{
		font-size: 10px;
	}
	#accountmodal .modal-dialog-centered{
		width: 100%;
	}
	.account_menu{
		overflow-x: scroll;
	}
	.auth_code{
		width: 270px;
	}
	.fa2_copy{
		right: calc(calc(100% - 270px)/2 + 40px);
	}
	.fa_password,
	.fa_enable{
		width: 200px !important;
	}
	#preference .squaredPre{
		margin-left: calc(calc(100% - 270px)/2);
	}
	.signup_modal1_top_right{
		display: none;
	}
	.signup_modal1_top_left{
		width: 100%;
	}
	.account_mainbody{
		height: auto;
	}
	.login_btn{
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 350px){
	.mobile_small_play_btn,
	.autoplay_spin_mobile, .wager_mobile {
		width:90%;
	}
	#rewardmodal .nav.nav-tabs li.nav-item{
		margin: 2px;
	}
	.signup1_modal_logo img{
		height: 40px;
	}
	#loginbutton_mobile{
		font-size: 10px;
	}
	#signupbutton_mobile{
		font-size: 10px;
	}
	.prob_menu_section .help.nav.nav-tabs li.nav-item:first-child{
		width: 35%;
	}
	.prob_menu_section .help.nav.nav-tabs li.nav-item:last-child{
		width: 65%;
	}
	.top_header{
		background-size: auto 25px;
	}
	.result_main_part{
		width: 85%;
	}
	.single_normal{
		font-size: 13px;
	}
	.center_result{
		font-size: 30px;
	}
	.seed_calc_table,
	.version_table{
		font-size: 10px;
	}
	/*====================By whitesnow=====================*/
	.fa_copy_code {
		font-size: 10px;
		margin-bottom: 0;
		margin-top: 2px !important;
	}
	#fa .fa_desc{
		margin-top: 4px !important;
		margin-bottom:0!important;
	}
	#fa>div.mt-2{
		margin-top:2px!important;
	}
	.qr_image{
		width:60px;
		height:60px;
	}
	.fa_enable{
		margin-top:5px;
	}
	/*==================37.overlapping on wins=================*/
	.counter{
		top: 20px;
	}
	.squaredPre{
		margin-left: 8%;
		margin-right: -10px;
	}
	.signup_modal_body{
		height: auto;
	}
}
@media screen and (max-height: 800px){
	.chat-header-part{
		padding-bottom:3px;
	}
	.counter>span,
	.counter_title span{
		display: table-cell;
	    vertical-align: middle;
	    text-shadow: 0px 1px #a48050,0px 2px #a48050,0px 3px #a48050;
	}
}